@model MegaMenuTabModel

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="megaMenuTabHdr">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="buttons">
            <button id="btnTabSettings" class="btn btn-info"><i class="fa fa-gear"></i>Settings</button>
            <button id="btnTabPreview" type="button" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                Preview
            </button>
            <div id="previewWindow">
                @{await Html.RenderPartialAsync("_MegaMenuTab");}
            </div>
        </div>

        <form asp-controller="MegaMenu" asp-action="EditTab" method="post" id="megaMenuEditTabForm" style="display: none;">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SetCountDown" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SetCountDown" />
                    <span asp-validation-for="SetCountDown"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Visible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Visible" />
                    <span asp-validation-for="Visible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="StartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="EndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveTab" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelTab" class="btn">Cancel</button>
                <button id="btnTabDelete" type="button" onclick="DeleteTab(@Model.Id)" class="btn bg-red pull-right"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </form>
        <div id="itemButtons" class="buttons margin-t-5">
            <button id="btnTabAddHeader" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.header')">@T("Admin.Catalog.AddHeader")</button>
            <button id="btnTabAddTextColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.textcolumn')">@T("Admin.Catalog.AddTextColumn")</button>
            <button id="btnTabAddImageColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.imagecolumn')">@T("Admin.Catalog.AddImageColumn")</button>
            <button id="btnAddCategoryRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MegaMenuAddRowCategoryPopup", "MegaMenu", new { megaMenuTabId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddCategoryRow")
            </button>
            <button id="btnAddProductRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MegaMenuAddRowProductPopup", "MegaMenu", new { megaMenuTabId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddProductRow")
            </button>
            <button id="btnAddElementRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MegaMenuAddRowElementPopup", "MegaMenu", new { megaMenuTabId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddElementRow")
            </button>
            <button id="btnAddTopicRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MegaMenuAddRowTopicPopup", "MegaMenu", new { megaMenuTabId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddTopicRow")
            </button>
            <button id="btnAddSidebarRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MegaMenuAddRowSliderPopup", "MegaMenu", new { megaMenuTabId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddSliderRow")
            </button>

        </div>
        <div id="addColumnBox" class="margin-t-5"></div>
    </div>
</div>

<script>
    var menuTabViewModel = kendo.observable({
        Items: {}
    });

    var previewWindow = $("#previewWindow"),
        btnTabPreview = $("#btnTabPreview");

    previewWindow.kendoWindow({
        width: "960px",
        visible: false,
        title: '@Model.Name'
    });

    btnTabPreview.click(function () {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action("MegaMenuTab", "Catalog", new { Area = "" }))",
            data: {  MegaMenuTabId: '@Model.Id' },
            success: function (data) {
                if (data.Items.length > 0) {
                    menuTabViewModel.set('Items', data.Items);
                    kendo.bind(previewWindow, menuTabViewModel);
                }

                var modal = previewWindow.data("kendoWindow");
                previewWindow.data("kendoWindow").open().center();
            }
        });

        return false;
    });

    $('#btnTabSettings').on('click', function (e) {
        $("#megaMenuEditTabForm").show();
        $(this).hide();
        $("#divActionButtons").show();
    });

    $('#btnSaveTab').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#megaMenuEditTabForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("EditTab", "MegaMenu"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#megaMenuTabHdr').text(response.name);
                    $('#tabDetails_@Model.Id').text(response.name);
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the mega menu tab. Please refresh the page and try one more time.');
            }
        });

        }
    });

    $('#btnCancelTab').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#megaMenuEditTabForm").hide();
        $("#btnTabSettings").show();
        $("#divActionButtons").hide();
    });
</script>