@model ProductModel

<div class="panel-group">
    @if (Model.Id > 0)
    {
        @await Html.PartialAsync("_CreateOrUpdate.Connections", Model.ConnectionsSearchModel)
    }
    else
    {
    <div class="panel panel-default">
        <div class="panel-body">
            @T("Admin.Catalog.Products.Connections.SaveBeforeEdit")
        </div>
    </div>
    }
</div>