﻿@model ShippingInfoModel

<div class="header-shipping-info">
    <ul>
        <li>
            <div class="spriteicon ic-truck-hd">
                <div class="ic-truck"></div>
                <div class="ic-truck-c1"></div>
                <div class="ic-truck-c2"></div>
            </div>
            <span>Next day delivery</span>
        </li>
        <li>
            <div class="spriteicon ic-currency">@Model.CurrencySign</div>
            <span>Money Back Garentee</span>
        </li>
        <li>
            <div class="spriteicon icon-lock">
                <div class="lock-top-1" style="background-color: #AFAFAF"></div>
                <div class="lock-top-2"></div>
                <div class="lock-body" style="background-color: #AFAFAF"></div>
                <div class="lock-hole"></div>
            </div>
            <span>Secure shopping</span>
        </li>
        <li>
            <div class="spriteicon ic-globe"></div>
            <span>Free Shipping</span>
        </li>
    </ul>
</div>