﻿@model CheckoutAddressModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-address-page");
}
<div class="page checkout-page address-page">
    @await Component.InvokeAsync("CheckoutPartyramaProgress", new { step = CheckoutProgressStep.Address })
    <div class="page-title">
        <h1>@T("Checkout.BillingAddress")</h1>
    </div>
    <div class="page-body checkout-data">
        <form asp-route="CheckoutAddress" method="post">
            <div class="billing-addresses">
                @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_billing_address_top" })
                @if (Model.BillingAddresses.Any())
                {
                    <div class="section select-billing-address">
                        <div class="title">
                            <strong>@T("Checkout.SelectBillingAddress")</strong>
                        </div>
                        <div class="address-grid">
                            @foreach (var item in Model.BillingAddresses)
                            {
                                <div class="address-item">
                                    @await Html.PartialAsync("_AddressBox", item)
                                    <div class="select-button">
                                        <input id="@nameof(Model.BillingNewAddress)_@item.Id" type="hidden" value='@Json.Serialize(item)' />
                                        <input type="button" value="@T("Checkout.BillToThisAddress")" class="button-1 select-billing-address-button" onclick="selectAddress(@item.Id, '@nameof(Model.BillingNewAddress)')" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_billing_address_middle" })
                <div class="section new-billing-address">
                    <div class="title">
                        @if (Model.ShippingAddresses.Any())
                        {
                            <strong>@T("Checkout.OrEnterNewAddress")</strong>
                        }
                        else
                        {
                            <strong>@T("Checkout.EnterBillingAddress")</strong>
                        }
                    </div>
                    <div class="enter-address">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        @{
                            var dataDictAddress = new ViewDataDictionary(ViewData);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                            @await Html.PartialAsync("_CreateOrUpdateAddress", Model.BillingNewAddress, dataDictAddress)
                        }
                        <div class="">
                            <label asp-for="PartyDate" asp-postfix=":"></label>
                            <nop-editor asp-for="PartyDate" asp-template="Date"/>
                            <nop-required />
                            <span asp-validation-for="PartyDate"></span>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_billing_address_bottom" })
            </div>
            @if (Model.ShipToSameAddressAllowed)
            {
                <div class="section ship-to-same-address">
                    <div class="selector">
                        <input asp-for="ShipToSameAddress" onchange="shipToSameAddress(this)" />
                        <label asp-for="ShipToSameAddress">@T("Checkout.ShipToSameAddress")</label>
                    </div>
                </div>
            }
            <div class="shipping-addresses" id="shipping-addresses-form" style="@(Model.ShipToSameAddress ? "display:none" : "display:block")">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutShippingAddressTop })
                @if (Model.ShippingAddresses.Any())
                {
                    <div class="section select-shipping-address">
                        <div class="title">
                            <strong>@T("Checkout.SelectShippingAddress")</strong>
                        </div>
                        <div class="address-grid">
                            @foreach (var item in Model.ShippingAddresses)
                            {
                                <div class="address-item">
                                    @await Html.PartialAsync("_AddressBox", item)
                                    <div class="select-button">
                                        <input id="@nameof(Model.ShippingNewAddress)_@item.Id" type="hidden" value='@Json.Serialize(item)' />
                                        <input type="button" value="@T("Checkout.ShipToThisAddress")" class="button-1 select-shipping-address-button" onclick="selectAddress(@item.Id, '@nameof(Model.ShippingNewAddress)')" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutShippingAddressMiddle })
                <div class="section new-shipping-address">
                    <div class="title">
                        @if (Model.ExistingAddresses.Count > 0)
                        {
                            <strong>@T("Checkout.OrEnterNewAddress")</strong>
                        }
                        else
                        {
                            <strong>@T("Checkout.EnterShippingAddress")</strong>
                        }
                    </div>
                    <div class="enter-address">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        @{
                            var dataDictShippingAddress = new ViewDataDictionary(ViewData);
                            dataDictShippingAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                            @await Html.PartialAsync("_CreateOrUpdateAddress", Model.ShippingNewAddress, dataDictShippingAddress)
                        }
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutShippingAddressBottom })
            </div>
            <div class="buttons">
                <input type="submit" onclick="setShippingAddress();" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 new-address-next-step-button" />
            </div>
        </form>
    </div>
</div>
<script asp-location="Footer">
    function shipToSameAddress(e) {
        if ($(e).prop("checked")) {
            $("#shipping-addresses-form").hide();
        } else {
            $("#shipping-addresses-form").show();
        }
    }

    function setShippingAddress() {
        if ($("#ShipToSameAddress").prop("checked")) {
            $("[name='ShippingNewAddress.FirstName']").val($("[name='BillingNewAddress.FirstName']").val());
            $("[name='ShippingNewAddress.LastName']").val($("[name='BillingNewAddress.LastName']").val());
            $("[name='ShippingNewAddress.Email']").val($("[name='BillingNewAddress.Email']").val());
            $("[name='ShippingNewAddress.CountryId']").val($("[name='BillingNewAddress.CountryId']").val());
            $("[name='ShippingNewAddress.Company']").val($("[name='BillingNewAddress.Company']").val());
            $("[name='ShippingNewAddress.StateProvinceId']").val($("[name='BillingNewAddress.StateProvinceId']").val());
            $("[name='ShippingNewAddress.City']").val($("[name='BillingNewAddress.City']").val());
            $("[name='ShippingNewAddress.Address1']").val($("[name='BillingNewAddress.Address1']").val());
            $("[name='ShippingNewAddress.Address2']").val($("[name='BillingNewAddress.Address2']").val());
            $("[name='ShippingNewAddress.ZipPostalCode']").val($("[name='BillingNewAddress.ZipPostalCode']").val());
            $("[name='ShippingNewAddress.PhoneNumber']").val($("[name='BillingNewAddress.PhoneNumber']").val());
            $("[name='ShippingNewAddress.FaxNumber']").val($("[name='BillingNewAddress.FaxNumber']").val());
        }
    }

    function selectAddress(addressId, prefix) {
        let address = $("#" + prefix + "_" + addressId).val();
        let selectItem = JSON.parse(address);

        $("[name='" + prefix + ".FirstName']").val(selectItem.FirstName);
        $("[name='" + prefix + ".LastName']").val(selectItem.LastName);
        $("[name='" + prefix + ".Email']").val(selectItem.Email);
        $("[name='" + prefix + ".CountryId']").val(selectItem.CountryId);
        $("[name='" + prefix + ".Company']").val(selectItem.Company);
        $("[name='" + prefix + ".StateProvinceId']").val(selectItem.StateProvinceId);
        $("[name='" + prefix + ".City']").val(selectItem.City);
        $("[name='" + prefix + ".Address1']").val(selectItem.Address1);
        $("[name='" + prefix + ".Address2']").val(selectItem.Address2);
        $("[name='" + prefix + ".ZipPostalCode']").val(selectItem.ZipPostalCode);
        $("[name='" + prefix + ".PhoneNumber']").val(selectItem.PhoneNumber);
        $("[name='" + prefix + ".FaxNumber']").val(selectItem.FaxNumber);
    }
</script>