﻿@*@model CheckoutPaymentsModel*@
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-method-page");
}

<div class="page checkout-page payment-method-page">
    @await Component.InvokeAsync("CheckoutPartyramaProgress", new { step = CheckoutProgressStep.Payment })
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentMethodTop })
        <div class="section order-summary">
            @await Component.InvokeAsync("OrderTotals")
        </div>
        <div class="section payment-method">
            <form asp-route="CheckoutPayments" method="post">
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.Pay")" class="button-1 new-address-next-step-button" />
                </div>
            </form>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentMethodBottom })
    </div>
</div>