﻿@model MenuOverviewModel
@using Nop.Core.Domain.Catalog

<div id="mainNavigation" class="main_navigation">
@{
    foreach (var item in Model.Items)
    {
        if (item.RowType == RowType.header || item.RowType == RowType.title)
        {
            <div id="megaMenuId_@item.MegaMenuTabId" class="@item.CssClass" data-megaMenuId="@item.MegaMenuTabId">
                <a style="border-color: @item.Color" href="@item.Link">@item.Name</a>
            </div>
        }
        else if (item.RowType == RowType.imagecolumn)
        {
            <div class="m_img_wrap">
                @foreach (var row in item.Rows)
                {
                    <a class="@row.CssClass" href="@row.Link" title="@row.Name">
                        <img width="145" height="145" src="@row.PictureModel.ImageUrl" alt="@row.PictureModel.AlternateText" />
                        <span>@row.Name</span>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="m_col">
                <a class="@item.CssClass" href="@item.Link" target="_blank">@item.Name</a>
                @foreach (var row in item.Rows)
                {
                    if (row.CssClass.Contains("sd_hex"))
                    {
                        <a class="@row.CssClass" style="background-color: @row.Color" target="_blank" href="@row.Link"><span>@row.Name</span></a>
                    }
                    else
                    {
                        <a class="@row.CssClass" href="@row.Link" target="_blank">@row.Name</a>
                    }
                }
            </div>
        }
    }
}
</div>

<div id="previewWindow" class="mm_con" style="display: none">
    <div class="mm_wrap">
        @{await Html.RenderPartialAsync("_MegaMenuTab");}
    </div>
</div>

<script>
    $(document).ready(function () {
        var menuTabViewModel = kendo.observable({
            Items: {}
        });

        var emptyItems = {}

        var previewWindow = $("#previewWindow");

        function setContent(currentMegaMenuId) {
            $.ajax({
                type: 'GET',
                url: "@Html.Raw(Url.Action("MegaMenuTab", "Catalog", new { Area = "" }))",
                data: { MegaMenuTabId: currentMegaMenuId },
                success: function (data) {
                    if (data.Items.length > 0) {
                        $("#previewWindow .mm_wrap").show();
                        menuTabViewModel.set('Items', data.Items);
                        kendo.bind(previewWindow, menuTabViewModel);
                    } else {
                        $("#previewWindow .mm_wrap").hide();
                    }
                    $('#megaMenuId_' + currentMegaMenuId).append(previewWindow);
                    previewWindow.show();
                    mainNavigation.append(shadow);
                    megaMenuId = currentMegaMenuId;
                    isOpened = true;
                },
                error: function () {
                    previewWindow.hide();
                }
            });
        }

        var isOpened = false;
        var windowWidth = window.innerWidth;
        var timerOut;
        var timer;

        var mainNavigation = $('#mainNavigation');
        var shadow = document.createElement('div');
        shadow.setAttribute('class', 'mm_shadow');

        var megaMenuId;
        var currentMegaMenuId;

        var open = function (event) {
            if (event.target.dataset.megamenuid) {
                let openMenu = function () {
                    currentMegaMenuId = parseInt(event.target.dataset.megamenuid);

                    if (megaMenuId !== currentMegaMenuId) {
                        isOpened = false;
                    }

                    if (windowWidth > 960 && !isOpened) {
                        setContent(currentMegaMenuId);
                        isOpened = true;
                    }
                };

                if (!isOpened) setTimeout(openMenu, 500); else openMenu();
            }
        };

        var close = function (event) {
            if (event.target === document.querySelector('.mm_shadow')) {
                timerOut = setTimeout(function () {
                    previewWindow.hide();
                    document.querySelector('.mm_shadow') ? document.querySelector('.mm_shadow').remove() : null;
                }, 700);
            }
        }

        if (windowWidth > 960) {
            $('#mainNavigation > div').on("mouseover", open);
            $('#mainNavigation > div').on("mouseout", function () { clearTimeout(timer); });
                //(.mouseover(open).mouseout(function () { clearTimeout(timer); });
            $('#mainNavigation').mouseover(close).mouseout(function () { clearTimeout(timerOut); });
        }
    });
</script>
<style>
    .main_navigation {
        display: table;
        position: relative;
    }

    .main_navigation > .mm_header {
        display: table-cell;
        float: none;
        width: auto;
    }

   .main_navigation .mm_con {
       left: 0;
   }
</style>