﻿@model ShippingCountryModel
<div id="ShippingOptions" class="shipping-options">
    <script asp-location="Footer">
        function InitDeliveryCosts() {
            if ('@Model.Enabled') {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("ShippingCountryCost"))",
                    success: function (data) {
                        $.each($("#CountryId option"), function (id, option) {
                            let item = data.Items.find(function (e) { return e.CountryId == option.value; })
                            if (item) {
                                option.text = option.text + " | " + item.Cost + " | " + item.Time;
                            }
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to get deliver cost.');
                    }
                });
            }
        }

        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").on('change', function () {
                var selectedItem = $(this).val();
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.RouteUrl("ShippingCountry"))",
                    data: $("#shopping-cart-form").serialize(),
                    success: function (data) {
                        displayAjaxLoading();
                        $('.total-info').html(data);
                        if ($("#CountryId").val() > 0) {
                            $("#CountryIdValidation").hide();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        displayAjaxLoading();
                        alert('Failed to retrieve estimate shipping.');
                    }
                });
            });

            InitDeliveryCosts();
        });
    </script>
    <div class="inputs">
        <label asp-for="CountryId" asp-postfix=":"></label>
        <select asp-for="CountryId" asp-items="Model.AvailableCountries" class="country-input"></select>
        <nop-required />
        <span id="CountryIdValidation" class="field-validation-error" style="display:none">@T("ShippingCountryModel.CountryId.Required")</span>
    </div>
</div>