﻿@model AddressModel

<ul class="address-box">
    <li class="name">
        @Model.FirstName @Model.LastName
    </li>
    <li class="email">
        <label>@T("Address.Fields.Email"):</label>
        <span>@Model.Email</span>
    </li>
    @if (Model.PhoneEnabled)
                                    {
    <li class="phone">
        <label>@T("Address.Fields.PhoneNumber"):</label>
        <span>@Model.PhoneNumber</span>
    </li>
                                    }
    @if (Model.FaxEnabled)
                                    {
    <li class="fax">
        <label>@T("Address.Fields.FaxNumber"):</label>
        <span>@Model.FaxNumber</span>
    </li>
                                    }
    @if (Model.CompanyEnabled && !string.IsNullOrEmpty(Model.Company))
                                    {
    <li class="company">
        @Model.Company
    </li>
                                    }
    @if (Model.StreetAddressEnabled)
                                    {
    <li class="address1">
        @Model.Address1
    </li>
                                    }
    @if (Model.StreetAddress2Enabled && !string.IsNullOrEmpty(Model.Address2))
                                    {
    <li class="address2">
        @Model.Address2
    </li>
                                    }
    @if (Model.CityEnabled && !string.IsNullOrEmpty(Model.City) ||
                                        Model.CountyEnabled && !string.IsNullOrEmpty(Model.County) ||
                                        Model.StateProvinceEnabled && !string.IsNullOrEmpty(Model.StateProvinceName) ||
                                        Model.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ZipPostalCode))
                                    {
    <li class="city-state-zip">
        @if (Model.CityEnabled && !string.IsNullOrEmpty(Model.City))
                                            {
        @Model.City
        @if (Model.CountyEnabled && !string.IsNullOrEmpty(Model.County) ||
                                                    Model.StateProvinceEnabled && !string.IsNullOrEmpty(Model.StateProvinceName) ||
                                                    Model.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ZipPostalCode))
                                                {
        <text>,</text>
                                                }
                                            }
        @if (Model.CountyEnabled && !string.IsNullOrEmpty(Model.County))
                                            {
        @Model.County
        @if (Model.StateProvinceEnabled && !string.IsNullOrEmpty(Model.StateProvinceName) ||
                                                    Model.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ZipPostalCode))
                                                {
        <text>,</text>
                                                }
                                            }
        @if (Model.StateProvinceEnabled && !string.IsNullOrEmpty(Model.StateProvinceName))
                                            {
        @Model.StateProvinceName
        @if (Model.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ZipPostalCode))
                                                {
        <text>,</text>
                                                }
                                            }
        @if (Model.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ZipPostalCode))
                                            {
        @Model.ZipPostalCode
                                            }
    </li>
                                    }
    @if (Model.CountryEnabled && !string.IsNullOrEmpty(Model.CountryName))
                                    {
    <li class="country">
        @Model.CountryName
    </li>
                                    }
</ul>