﻿@{
    Layout = "_Root.Head";
}
<div class="master-wrapper-page">
    <div class="master-header">
        @await Component.InvokeAsync("AdminHeaderLinks")
        <div class="checkout-header-wrap">
            <div class="colours-belt">
                <div class="checkout-belt-colors bordo"></div>
                <div class="checkout-belt-colors light-green"></div>
                <div class="checkout-belt-colors red"></div>
                <div class="checkout-belt-colors dark-blue"></div>
                <div class="checkout-belt-colors dirty-yellow"></div>
                <div class="checkout-belt-colors dark-green"></div>
            </div>
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="hdr-checkout-contact-info">
                <span class="hdr-number-checkout"><strong>Call us on: </strong>01908 261 280</span>
                <span class="hdr-number-info-checkout">Mon - Fri 9am - 5:30pm</span>
                <span class="hdr-email-checkout"><a href="mailto:sales@partyrama.co.uk"><strong>sales@partyrama.co.uk</strong></a></span>
                <span class="hdr-number-checkout-mobile">Need to talk? 01908 261 280</span>
                <span class="hdr-email-checkout-mobile"><a href="mailto:sales@partyrama.co.uk"><strong>sales@partyrama.co.uk</strong></a></span>
                <div class="hdr-phone-checkout-icon">
                    <a href="tel:01908261280"><img class="border-buttons-checkout-mobile" src="https://1ri26s33ly0e2m3ovy3we3c2-wpengine.netdna-ssl.com/wp-content/themes/partyrama/img/telephone-btn.png" title="" alt="" width="30px" height="30px"></a>
                </div>
                <div class="hdr-email-checkout-icon">
                    <a href="mailto:sales@partyrama.co.uk"><img class="border-buttons-checkout-mobile" src="https://1ri26s33ly0e2m3ovy3we3c2-wpengine.netdna-ssl.com/wp-content/themes/partyrama/img/email-button.png" title="" alt="" width="30px" height="30px"></a>
                </div>
            </div>
            @await Component.InvokeAsync("ShippingInfo")
        </div>
    </div>
    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })
        <div class="master-column-wrapper">
            <div class="center-1">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
        </div>
    </div>
    <div id="checkout-footer">
        <div class="content-checkout-footer">
            <div class="information-details">
                <strong>Email: </strong>sales@partyrama.co.uk<br>
                <strong>Phone: </strong>01908 261 280<br>
                <br>
                <strong>Partyrama.co.uk</strong><br>
                Unit 2, Clarendon Drive,<br>
                Clarendon Industrial Park,<br>
                Wymbush,<br>
                Milton Keynes<br>
                United Kingdom<br>
                MK8 8DA<br>
                <br>
                <strong>VAT Registration Number:</strong> 348 4609 32
            </div>
            <div class="secure-information">
                Partyrama.co.uk is secure and your details are protected
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("EuCookieLaw")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
