﻿@model OrderTotalsModel

<div class="cart-total-box">
    <div class="order-subtotal">
        <span>@T("ShoppingCart.Totals.SubTotal"): @Model.SubTotal</span>
    </div>
    @if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
    {
        <div class="order-subtotal-discount">
            <span>@T("ShoppingCart.Totals.SubTotalDiscount"): @Model.SubTotalDiscount</span>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
    {
        <div class="additional-fees">
            <span>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"): @Model.PaymentMethodAdditionalFee</span>
        </div>
    }
    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
    {
        foreach (var taxRate in Model.TaxRates)
        {
            <div class="tax-rate">
                <span>@string.Format(T("ShoppingCart.Totals.TaxRateLine").Text, taxRate.Rate): @taxRate.Value</span>
            </div>
        }
    }
    @if (Model.DisplayTax)
    {
        <div class="tax-value">
            <span>@T("ShoppingCart.Totals.Tax"): @Model.Tax</span>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
    {
        <div class="discount-total">
            <span>@T("ShoppingCart.Totals.OrderTotalDiscount"): @Model.OrderTotalDiscount</span>
        </div>
    }
    @if (Model.GiftCards.Count > 0)
    {
        foreach (var gc in Model.GiftCards)
        {
            <div class="giftcard-summary">
                <span>@T("ShoppingCart.Totals.GiftCardInfo"):</span>
                <span>@T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode)</span>
                @if (Model.IsEditable)
                {
                    //little hack here with empty "value" element
                    <input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
                }
                <span class="giftcard-remaining">@string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
                <span class="value-summary">@gc.Amount</span>
            </div>
        }
    }
    @if (Model.RedeemedRewardPoints > 0)
    {
        <div class="reward-points">
            <span>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints): @Model.RedeemedRewardPointsAmount</span>
        </div>
    }
    @if (!Model.HideShippingTotal)
    {
        <div class="shipping-cost">
            <div>
                <span>@T("ShoppingCart.Totals.Shipping"):</span>
                @if (Model.RequiresShipping && !string.IsNullOrEmpty(Model.SelectedShippingMethod))
                {
                    <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                }
                @if (Model.RequiresShipping)
                {
                    if (!string.IsNullOrEmpty(Model.Shipping))
                    {
                        <span class="value-summary">@Model.Shipping</span>
                    }
                    else
                    {
                        <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                    }
                }
                else
                {
                    <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                }
            </div>
        </div>
    }
    <div class="order-total">
        <span>@T("ShoppingCart.Totals.OrderTotal"):</span>
        @if (!string.IsNullOrEmpty(Model.OrderTotal))
        {
            <span class="value-summary"><strong>@Model.OrderTotal</strong></span>
        }
        else
        {
            <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
        }
    </div>
    @if (Model.WillEarnRewardPoints > 0)
    {
        <div class="earn-reward-points">
            <span>@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn").Text, Model.RedeemedRewardPoints): @string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</span>
        </div>
    }
</div>

@*<table class="cart-total">
    <tbody>
        <tr class="order-subtotal">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.SubTotal"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.SubTotal</span>
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
        {
        <tr class="order-subtotal-discount">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.SubTotalDiscount"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.SubTotalDiscount</span>
            </td>
        </tr>
        }
        @if (!Model.HideShippingTotal)
        {
        <tr class="shipping-cost">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.Shipping"):</label>
                @if (Model.RequiresShipping && !string.IsNullOrEmpty(Model.SelectedShippingMethod))
                    {
                <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                    }
            </td>
            <td class="cart-total-right">
                @if (Model.RequiresShipping)
                    {
                        if (!string.IsNullOrEmpty(Model.Shipping))
                        {
                <span class="value-summary">@Model.Shipping</span>
                        }
                        else
                        {
                <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                        }
                    }
                    else
                    {
                <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                    }
            </td>
        </tr>
        }
        @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
        {
        <tr class="additional-fees">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.PaymentMethodAdditionalFee</span>
            </td>
        </tr>
        }
        @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
        {
            foreach (var taxRate in Model.TaxRates)
            {
        <tr class="tax-rate">
            <td class="cart-total-left">
                <label>@string.Format(T("ShoppingCart.Totals.TaxRateLine").Text, taxRate.Rate):</label>
            </td>
            <td class="cart-total-right">
                <span>@taxRate.Value</span>
            </td>
        </tr>
            }
        }
        @if (Model.DisplayTax)
        {
        <tr class="tax-value">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.Tax"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.Tax</span>
            </td>
        </tr>
        }
        @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
        {
        <tr class="discount-total">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.OrderTotalDiscount"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.OrderTotalDiscount</span>
            </td>
        </tr>
        }
        @if (Model.GiftCards.Count > 0)
        {
            foreach (var gc in Model.GiftCards)
            {
        <tr class="giftcard-summary">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.GiftCardInfo"):</label>
                <span>@T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode)</span>
                @if (Model.IsEditable)
                    {
                        //little hack here with empty "value" element
                <input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
                    }
                <span class="giftcard-remaining">@string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@gc.Amount</span>
            </td>
        </tr>
            }
        }
        @if (Model.RedeemedRewardPoints > 0)
        {
        <tr class="reward-points">
            <td class="cart-total-left">
                <label>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@Model.RedeemedRewardPointsAmount</span>
            </td>
        </tr>
        }
        <tr class="order-total">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.OrderTotal"):</label>
            </td>
            <td class="cart-total-right">
                @if (!string.IsNullOrEmpty(Model.OrderTotal))
                {
                <span class="value-summary"><strong>@Model.OrderTotal</strong></span>
                }
                else
                {
                <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                }
            </td>
        </tr>
        @if (Model.WillEarnRewardPoints > 0)
        {
        <tr class="earn-reward-points">
            <td class="cart-total-left">
                <label>@T("ShoppingCart.Totals.RewardPoints.WillEarn"):</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary">@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</span>
            </td>
        </tr>
        }
    </tbody>
</table>*@
