﻿@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="master-wrapper-page">
    <div class="master-header">
        @await Component.InvokeAsync("AdminHeaderLinks")
        @await Html.PartialAsync("_Header")
        <script asp-location="Footer">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');

            var headerShort = false;
            var shippingInfoHeight = $('.header-shipping-info').height();
            var headerUpperHeight = $('.header .header-upper').height();
            var logoSpanHeight = $('.header-logo span').height();

            document.onscroll = function () {
                if ($(window).width() >= 1001) {
                    if ($(this).scrollTop() > 200 && !headerShort) {
                        headerShort = true;
                        $('.header-shipping-info').slideUp("slow");
                        $('.header .header-upper').slideUp("slow");
                        $('.header-logo span').slideUp("slow");
                    }
                    if ($(this).scrollTop() < 200 && headerShort) {
                        headerShort = false;
                        $('.header-shipping-info').slideDown("slow");
                        $('.header .header-upper').slideDown("slow");
                        $('.header-logo span').slideDown("slow");
                    }
                }
            }
        </script>
        <nav>
            @await Component.InvokeAsync("MainMenu")

            @*<ul class="category-menu">
            <li class="mAdults" style="background: none;"><a href="https://www.partyrama.eu/grown-up-party-supplies-themes-and-decorations-484/" title="Adults">Adults</a></li>
            <li class="mKids" style="background: none;"><a href="https://www.partyrama.eu/kids-party-supplies-438/" title="Kids">Kids</a></li>
            <li class="mCatering" style="background: none;"><a href="https://www.partyrama.eu/catering-party-supplies-and-tableware-462/" title="Catering">Catering</a></li>
            <li class="mPersonalised" style="background: none;"><a href="https://www.partyrama.eu/personalised/" title="Personalised">Personalised</a></li>
            <li class="mCutouts" style="background: none;"><a href="https://www.partyrama.eu/cutouts/" title="Cutouts / Masks">Cutouts / Masks</a></li>
            <li class="mHelium" style="background: none;"><a href="https://www.partyrama.eu/disposable-helium-gas-cylinders-189/" title="Balloons / Helium">Balloons / Helium</a></li>
            <li class="mFancyDress" style="background: none;"><a href="https://www.partyrama.eu/fancy-dress-870/" title="Fancy Dress">Fancy Dress</a></li>
            <li class="mWedding" style="background: none;"><a href="https://www.partyrama.eu/wedding-party/" title="Wedding">Wedding</a></li>
            <li class="mHalloween" style="background: none;"><a href="https://www.partyrama.eu/halloween-party-supplies/" title="Halloween">Halloween</a></li>
            <li class="mSale" style="background: none;"><a href="https://www.partyrama.eu/oktoberfest-party-supplies/" title="Oktoberfest">Oktoberfest</a></li>
        </ul>*@
        </nav>
                @await Component.InvokeAsync("ShippingInfo")
            </div>
    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb") 
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })