﻿@model SliderOverviewModel
<div class="@Model.CssClass">
    <div class="slider-wrap carousel" id="sliderCarousel_@Model.SliderNumber" data-interval="@Model.Interval" data-ride="@Model.Ride"
         style="border-width: @Model.BorderTopWidth 0 @Model.BorderBottomWidth 0; border-style: @Model.BorderStyleText; border-color: @Model.BorderColor;">
        @{
            if (Model.VisibleDots)
            {
                <div class="slider-dot carousel-indicators">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <span data-target="#sliderCarousel_@Model.SliderNumber" class="@Model.Items[i].DotCssClass" data-slide-to="@Model.Items[i].Index"></span>
                    }
                </div>
            }
        }
        <div class="carousel-inner" role="listbox">
            @{
                foreach (var item in Model.Items)
                {
                    <div class="@item.CssClass">
                        <a href="@item.Link" title="@item.Name">
                            <div class="slide-img">
                                <img src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" />
                            </div>
                        </a>
                        <div class="slider-desc">
                            <div class="slide-title">@item.Name</div>
                            <div class="slide-desc">
                                @if (item.ShowDescription)
                                {
                                    <div class="slide-desc-info">@Html.Raw(item.Description)</div>
                                }
                                @if (item.ShowBuyButton)
                                {
                                    <a class="slide-but" title="@item.Name" href="@item.Link">@T("Slider.BuyButtonText")</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @{
            if (Model.VisibleArrows)
            {
                <a class="prev" href="#sliderCarousel_@Model.SliderNumber" role="button" data-slide="prev">❮</a>
                <a class="next" href="#sliderCarousel_@Model.SliderNumber" role="button" data-slide="next">❯</a>
            }
        }

    </div>
</div>