@model MenuModel

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="menuHdr">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="buttons">
            <button id="btnMenuSettings" class="btn btn-info"><i class="fa fa-gear"></i>Settings</button>
            <button id="btnMenuPreview" type="button" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                Preview
            </button>
            <div id="previewWindow">
                @{await Html.RenderPartialAsync("_MenuPreview");}
            </div>
        </div>
        <form asp-controller="Menu" asp-action="EditMenu" method="post" id="menuEditForm" style="display: none;">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SetCountDown" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SetCountDown" />
                    <span asp-validation-for="SetCountDown"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Visible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Visible" />
                    <span asp-validation-for="Visible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="StartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="EndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveMenu" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelMenu" class="btn">Cancel</button>
                <button id="btnMenuDelete" type="button" onclick="DeleteMenu(@Model.Id)" class="btn bg-red pull-right"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </form>
        <div id="itemButtons" class="buttons margin-t-5">
            <button id="btnMenuAddHeader" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.header')">@T("Admin.Catalog.AddHeader")</button>
            <button id="btnMenuAddTextColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.textcolumn')">@T("Admin.Catalog.AddTextColumn")</button>
            <button id="btnMenuAddImageColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.imagecolumn')">@T("Admin.Catalog.AddImageColumn")</button>
            <button id="btnAddCategoryRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MenuAddRowCategoryPopup", "Menu", new { menuId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddCategoryRow")
            </button>
            <button id="btnAddProductRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MenuAddRowProductPopup", "Menu", new { menuId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddProductRow")
            </button>
            <button id="btnAddElementRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MenuAddRowElementPopup", "Menu", new { menuId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddElementRow")
            </button>
            <button id="btnAddTopicRow"
                    onclick="javascript:OpenWindow('@(Url.Action("MenuAddRowTopicPopup", "Menu", new { menuId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddTopicRow")
            </button>

        </div>
        <div id="addColumnBox" class="margin-t-5"></div>
    </div>
</div>

<script>
    var menuViewModel = kendo.observable({
        Items: {}
    });

    var previewWindow = $("#previewWindow"),
        btnMenuPreview = $("#btnMenuPreview");

    previewWindow.kendoWindow({
        width: "980px",
        visible: false,
        title: '@Model.Name'
    });

    btnMenuPreview.click(function () {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action("MenuPreview", "Catalog", new { Area = "" }))",
            data: {  MenuId: '@Model.Id' },
            success: function (data) {
                if (data.Items.length > 0) {
                    menuViewModel.set('Items', data.Items);
                    kendo.bind(previewWindow, menuViewModel);
                }
                var modal = previewWindow.data("kendoWindow");
                previewWindow.data("kendoWindow").open().center();
            }
        });

        return false;
    });

    $('#btnMenuSettings').on('click', function (e) {
        $("#menuEditForm").show();
        $(this).hide();
        $("#divActionButtons").show();
    });

    $('#btnSaveMenu').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#menuEditForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("EditMenu", "Menu"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#menuHdr').text(response.name);
                    $('#menuDetails_@Model.Id').text(response.name);
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the menu. Please refresh the page and try one more time.');
            }
        });

        }
    });

    $('#btnCancelMenu').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#menuEditForm").hide();
        $("#btnMenuSettings").show();
        $("#divActionButtons").hide();
    });
</script>