﻿@model CheckoutProgressModel
<div class="order-steps-wrap">
    <ul class="order-steps">
        <li id="order-step-1" class="order-step">
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("ShoppingCart")}\"") : null) class="first-active">@T("Checkout.Progress.Step1")</a>
        </li>
        <li class="order-step-separator">
            <span></span><span></span><span></span><span></span>
        </li>
        <li id="order-step-2" class="order-step">
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("CheckoutBillingAddress")}\"") : null)
               @(Model.CheckoutProgressStep == CheckoutProgressStep.Address || Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"second-active\"") : null)>@T("Checkout.Progress.Step2")
            </a>
        </li>
        <li class="order-step-separator">
            <span></span><span></span><span></span><span></span>
        </li>
        <li id="order-step-3" class="order-step">
            <a href="#" @(Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"third-active\"") : null)>@T("Checkout.Progress.Step3")</a>
        </li>
    </ul>
</div>
