﻿@model DateTime?
@using Nop.Core
@inject IWorkContext workContext
@using System.Globalization

@{
    var currentCulture = new CultureInfo(workContext.WorkingLanguage.LanguageCulture);
}

<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToShortDateString() : null)" />
<script>
    $(document).ready(function () {
        let cultureCode = '@currentCulture.Name';

        $("#@Html.IdForModel()").kendoDatePicker({
            min: kendo.date.today(),
            culture: cultureCode
        });
        //var today = new Date();
        //var day = today.getDate();
        //var month = today.getMonth() + 1;
        //var year = today.getFullYear();
        //myDatePicker.min(new Date(year, month, day));
    });
</script>