﻿@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}

@section left {
    @await Component.InvokeAsync("Sidebar", new { currentCategoryId = Model.Id })
}

<div class="page category-page">
    @*category breadcrumb*@
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <span>You are here:</span>
            <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @{ int position = 1; }
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        @if (isLastCategory)
                        {
                            <strong class="current-item" itemprop="name">@cat.Name</strong>
                            <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
                                <link itemprop="url" href="@Url.RouteUrl("Category", new {SeName = cat.SeName})" />
                            </span>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name" itemprop="item">
                                <span itemprop="name">@cat.Name</span>
                            </a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                        <meta itemprop="position" content="@position" />
                    </li>
                    position++;
                }
            </ul>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterBreadcrumb, additionalData = Model })
    }
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsTop, additionalData = Model })
        @*description*@
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @*connections*@
        @if (Model.Connections.Count > 0)
        {
            <div class="connection-category-grid">
                <div class="item-grid">
                    @foreach (var connection in Model.Connections)
                    {
                        switch (connection.ToType)
                        {
                            case Nop.Core.Domain.Catalog.ConnectionToType.cat:
                                <div class="item-box @connection.CssClass">
                                    <div class="sub-category-item">
                                        <div class="picture">
                                            <a href="@Url.RouteUrl("Category", new { SeName = connection.Category.SeName })" title="@connection.Category.PictureModel.Title">
                                                <img alt="@connection.Category.PictureModel.AlternateText" src="@connection.Category.PictureModel.ImageUrl" title="@connection.Category.PictureModel.Title" />
                                            </a>
                                        </div>
                                        <h2 class="title">
                                            <a href="@Url.RouteUrl("Category", new { SeName = connection.Category.SeName })" title="@connection.Category.PictureModel.Title">
                                                @connection.Category.Name
                                            </a>
                                        </h2>
                                        @if (connection.ShowDescription)
                                        {
                                            <span class="desc">@Html.Raw(connection.Category.ShortDescription)</span>
                                        }
                                    </div>
                                </div>
                                break;
                            case Nop.Core.Domain.Catalog.ConnectionToType.prod:
                                if (connection.Product.ProductType == Nop.Core.Domain.Catalog.ProductType.Separator)
                                {
                                    <div class="separator @connection.CssClass">
                                        @connection.Product.Name
                                    </div>
                                }
                                else
                                {
                                    <div class="item-box @connection.CssClass">
                                        @await Html.PartialAsync("_ProductBox", connection.Product)
                                    </div>
                                }
                                break;
                            case Nop.Core.Domain.Catalog.ConnectionToType.sep:
                                <div class="separator @connection.CssClass">
                                    @connection.Element.Name
                                </div>
                                break;
                            case Nop.Core.Domain.Catalog.ConnectionToType.desc:
                                <div class="description @connection.CssClass">
                                    @connection.Element.Description
                                </div>
                                break;
                            case Nop.Core.Domain.Catalog.ConnectionToType.slider:
                                @await Component.InvokeAsync("Slider", new { sliderId = connection.Slider.Id })
                                break;
                            default:
                                break;
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
