@model ConnectionsSearchModel
@using Nop.Core.Domain.Catalog

<div class="panel panel-default">
    <div class="panel-heading">
        <button type="submit" id="btnAddProduct"
                onclick="javascript:OpenWindow('@(Url.Action("ConnectionProductAddPopup", "Connections", new { fromId = Model.FromId, fromType = Model.FromType, btnId = "btnRefreshConnections", formId = Model.FormId }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Catalog.Connections.AddProduct")
        </button>
        <button type="submit" id="btnAddCategory"
                onclick="javascript:OpenWindow('@(Url.Action("ConnectionCategoryAddPopup", "Connections", new { fromId = Model.FromId, fromType = Model.FromType, btnId = "btnRefreshConnections", formId = Model.FormId }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Catalog.Connections.AddCategory")
        </button>
        <button type="submit" id="btnAddSeparator"
                onclick="javascript:OpenWindow('@(Url.Action("ConnectionElementAddPopup", "Connections", new { fromId = Model.FromId, fromType = Model.FromType, btnId = "btnRefreshConnections", formId = Model.FormId, toType = ConnectionToType.sep }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Catalog.Connections.AddSeparator")
        </button>
        <button type="submit" id="btnAddDescription"
                onclick="javascript:OpenWindow('@(Url.Action("ConnectionElementAddPopup", "Connections", new { fromId = Model.FromId, fromType = Model.FromType, btnId = "btnRefreshConnections", formId = Model.FormId, toType = ConnectionToType.desc }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Catalog.Connections.AddDescription")
        </button>
        <button type="submit" id="btnAddSlider"
                onclick="javascript:OpenWindow('@(Url.Action("ConnectionSliderAddPopup", "Connections", new { fromId = Model.FromId, fromType = Model.FromType, btnId = "btnRefreshConnections", formId = Model.FormId }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Catalog.Connections.AddSlider")
        </button>
        <input type="submit" id="btnRefreshConnections" style="display: none" />
        <script>
            $(document).ready(function () {
                $('#btnRefreshConnections').click(function () {
                    //refresh grid
                    var grid = $("#connections-grid").data('kendoGrid');
                    grid.dataSource.read();

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
    <div class="panel-body">
        <div id="connections-grid"></div>
        <script>
            $(document).ready(function () {
                var reOrderIsProgress = false;

                var grid = $("#connections-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Connections"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            FromId: '@(Model.FromId)',
                                            FromType: '@(Model.FromType)'
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("Update", "Connections"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("Delete", "Connections"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Name: { editable: false, type: "string" },
                                        CssClass: { editable: true, type: "string" },
                                        DisplayOrder: { editable: false, type: "number" },
                                        Id: { editable: false, type: "number" },
                                        Picture: {},
                                        FromId: { editable: false, type: "number" },
                                        FromType: { editable: false },
                                        Type: { editable: false, type: "string" },
                                        ToType: { editable: false },
                                        ToId: { editable: false },
                                        ShowDescription: { editable: true }
                                    }
                                }
                            },
                            requestEnd: function(e) {
                                if (e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(Model.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: false,
                            previousNext: false,
                            numeric: false
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Name",
                                title: "@T("Admin.Catalog.Connections.Fields.Name")"
                            }, {
                                field: "Picture",
                                title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                template: '# if(Picture.ItemPictureUrl != null) {#<img src="#=Picture.ItemPictureUrl#" />#} #',
                                editor: pictureEditor,
                                width: 100
                            }, {
                                field: "Type",
                                title: "@T("Admin.Catalog.Connections.Fields.Type")",
                                width: 150
                            }, {
                                field: "CssClass",
                                title: "@T("Admin.Catalog.Connections.Fields.CssClass")",
                                editor: cssClassDropDownEditor,
                                width: 150
                            }, {
                                field: "ShowDescription",
                                title: "@T("Admin.Catalog.Connections.Fields.ShowDescription")",
                                width: 50,
                                template: '# if (ToType == @((int)ConnectionToType.cat)) { if(ShowDescription) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #}} #',
                                editor: customBoolEditor
                            },
                            {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 90,
                                headerAttributes: { style: "text-align:left; border-right: none;" },
                                attributes: { style: "text-align:right; padding-right: 0; border-right: none;" },
                                template: '<a class="btn btn-default" onclick="GetConnectionEditLink(#=ToId#, #=ToType#)" href="javascript:void(0);"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                            }, {
                                command: [
                                    {
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.QuickEdit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    }, {
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }
                                ],
                                attributes: { style: "text-align:left; padding-left: 0;" },
                                width: 200
                            }
                        ]
                    }).data("kendoGrid");

                    grid.table.kendoSortable({
                        filter: ">tbody >tr",
                        hint: $.noop,
                        cursor: "move",
                        placeholder: function(element) {
                            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                        },
                        container: "#connections-grid tbody",
                        start: function (e) {
                            if (reOrderIsProgress) {
                                e.preventDefault();
                            }
                        },
                        change: function (e) {
                            reOrderIsProgress = true;
                            var skip = grid.dataSource.skip(),
                                oldIndex = e.oldIndex + skip,
                                newIndex = e.newIndex + skip,
                                data = grid.dataSource.data(),
                                dataItem = grid.dataSource.getByUid(e.item.data("uid")),
                                dataDrop = data[newIndex];

                            var postData = {
                                "OldDisplayOrder": oldIndex,
                                "NewDisplayOrder": newIndex,
                                "FromType": dataItem.FromType,
                                "FromId": '@(Model.FromId)',
                                "DropItemId": dataDrop.Id,
                                "DragItemId": dataItem.Id
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("ReOrder", "Connections"))",
                                data: postData,
                                success: function (data) {
                                    grid.dataSource.read();
                                    reOrderIsProgress = false;
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    grid.dataSource.cancelChanges();
                                    reOrderIsProgress = false;
                                    alert('Failed to save order.');
                                }
                            });
                        }
                    });
                });

            function GetConnectionEditLink(toId, toType) {
                let connectionUrl = '';
                switch (toType) {
                    case @((int)ConnectionToType.cat):
                        connectionUrl = "@Html.Raw(Url.Action("Edit", "Category"))" + '/' + toId;
                        break;
                    case @((int)ConnectionToType.desc):
                    case @((int)ConnectionToType.sep):
                        connectionUrl = "@Html.Raw(Url.Action("Edit", "Element"))" + '/' + toId;
                        break;
                    case @((int)ConnectionToType.prod):
                        connectionUrl = "@Html.Raw(Url.Action("Edit", "Product"))" + '/' + toId;
                        break;
                    case @((int)ConnectionToType.slider):
                        connectionUrl = "@Html.Raw(Url.Action("Edit", "Slider"))";
                        break;
                }

                window.open(connectionUrl);
            }

            function pictureEditor(container, options) {
                if (options.model.ToType == @((int)ConnectionToType.cat)
                    || options.model.ToType == @((int)ConnectionToType.prod)) {
                    $('<input name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "ItemPictureOriginalName",
                        dataValueField: "ItemPictureId",
                        headerTemplate: '<div class="dropdown-header k-widget k-header">' +
                            '<span>Picture</span>' +
                            '<span>File name</span>' +
                            '</div>',
                        valueTemplate: '<span class="selected-value" #if (data.ItemPictureUrl != null) {# style="background-image: url(\'#:data.ItemPictureUrl#\')" #}#></span><span>#:data.ItemPictureOriginalName#</span>',
                        template: '<span class="k-state-default picture-span" style="background-image: url(\'#:data.ItemPictureUrl#\')"></span>' +
                            '<span class="k-state-default picture-span"><h3 class="picture-h3">#: data.ItemPictureOriginalName #</h3></span>',
                        dataSource: {
                            transport: {
                                type: "json",
                                read: {
                                    url: "@Html.Raw(Url.Action("GetAvailablePicture", "Connections"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function () {
                                        var data = {
                                            connectionId: options.model.ToId,
                                            toType: options.model.ToType,
                                            fromType: options.model.FromType
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                            }
                        }
                    });
                }
            }

            function cssClassDropDownEditor(container, options) {
                $('<input name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "", value: null },
                            { text: "coll-1", value: "coll-1" },
                            { text: "coll-2", value: "coll-2" },
                            { text: "coll-3", value: "coll-3" },
                            { text: "coll-4", value: "coll-4" },
                            { text: "coll-5", value: "coll-5" },
                            { text: "coll-6", value: "coll-6" },
                            { text: "coll-8", value: "coll-8" },
                            { text: "featured", value: "featured" },
                            { text: "sep-large", value: "sep-large" },
                            { text: "sep-small", value: "sep-small" }
                        ]
                    });
            }

            function customBoolEditor(container, options) {
                if (options.model.ToType == @((int)ConnectionToType.cat))
                {
                    var guid = kendo.guid();
                    $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="' + options.field + '" data-type="boolean" data-bind="checked:' + options.field + '">').appendTo(container);
                    $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
                }
            }

        </script>
        <style>
            .k-grid tbody tr {
                cursor: move;
            }
        </style>
    </div>
</div>