﻿@using Nop.Core.Domain.Catalog

<div class="main_navigation" data-template="column-template" data-bind="source: Items"></div>
<script id="column-template" type="text/x-kendo-template">
    #if(RowType == '@((int)RowType.header)' || RowType == '@((int)RowType.title)') {#
        <div class="#: CssClass #">
            <a style="border-bottom-color: #: Color #" data-bind="text: Name, attr: { href: Link }"></a>
        </div>
    #}else if(RowType == '@((int)RowType.imagecolumn)') {#
        <div class="m_img_wrap">
            #for(var i = 0; i < Rows.length; i++) {#
                <a class="#: Rows[i].CssClass #" href="#: Rows[i].Link #" title="#: Rows[i].Name #">
                    <img width="145" height="145" src="#: Rows[i].PictureModel.ImageUrl #" alt="#: Rows[i].PictureModel.AlternateText #" />
                    <span>#: Rows[i].Name #</span>
                </a>
            #}#
        </div>
    #}else{#
        <div class="m_col">
            <a class="#: CssClass #" data-bind="text: Name, attr: { href: Link }" target="_blank"></a>
            #for(var i = 0; i < Rows.length; i++) {#
                #if(Rows[i].CssClass === "m_hex") {#
                    <a class="#: Rows[i].CssClass #" style="background-color: #: Rows[i].Color #" target="_blank" href="#: Rows[i].Link #"><span>#: Rows[i].Name #</span></a>
                #}else{#
                    <a class="#: Rows[i].CssClass #" href="#: Rows[i].Link #" target="_blank">#: Rows[i].Name #</a>
            #}}#
        </div>
    # }#
</script>

<style>
    .main_navigation {
        display: table;
        position: relative;
    }

        .main_navigation > .mm_header {
            display: table-cell;
            float: none;
            width: auto;
        }

        .main_navigation .mm_con {
            left: 0;
        }
</style>