﻿@using Nop.Core.Domain.Catalog

<div data-template="column-template" data-bind="source: Items" class="sd_conn"></div>
<script id="column-template" type="text/x-kendo-template">
    #if(RowType == '@((int)RowType.header)') {#
        <div class="#: CssClass #"><span data-bind="text: Name"></span></div>
    #}else if(RowType == '@((int)RowType.title)') {
        if (RowConnectionType == '@((int)RowConnectionType.slider)') {#
            <div class="#: SliderModel.CssClass #">
                <div class="slider-wrap carousel" id="sliderCarousel_#: SliderModel.SliderNumber #" data-bind="attr: { data-interval: SliderModel.Interval, data-ride: SliderModel.Ride, style: { border-top-width: SliderModel.BorderTopWidth, border-bottom-width: SliderModel.BorderBottomWidth, border-color: SliderModel.BorderColor, border-style: SliderModel.BorderStyleText }">
                    <div class="slider-dot carousel-indicators" data-template="dot-template" data-bind="visible: SliderModel.VisibleDots, source: SliderModel.Items"></div>
                    <div class="carousel-inner" role="listbox" data-template="slider-template" data-bind="source: SliderModel.Items"></div>
                    <a class="prev" data-bind="visible: SliderModel.VisibleArrows" href="\\#sliderCarousel_#: SliderModel.SliderNumber #" role="button" data-slide="prev">❮</a>
                    <a class="next" data-bind="visible: SliderModel.VisibleArrows" href="\\#sliderCarousel_#: SliderModel.SliderNumber #" role="button" data-slide="next">❯</a>
                </div>
            </div>
        #}else{#
            <a class="#: CssClass #" data-bind="attr: { href: Link, title: Name }" target="_blank" ><span data-bind="text: Name"></span></a>
        #}#
    #}else if(RowType == '@((int)RowType.imagecolumn)') {#
        <div class="m_img_wrap">
            #for(var i = 0; i < Rows.length; i++) {#
                <a class="#: Rows[i].CssClass #" href="#: Rows[i].Link #" title="#: Rows[i].Name #">
                    <img width="145" height="145" src="#: Rows[i].PictureModel.ImageUrl #" alt="#: Rows[i].PictureModel.AlternateText #" />
                    <span>#: Rows[i].Name #</span>
                </a>
            #}#
        </div>
    #}else{
        let rowCssClass = CssClass.indexOf('sd_open_title') > -1 ? "sd_row_open" : "sd_row";#
        <div class="sd_col">
            <div class="#: CssClass #">
                <span data-bind="text: Name"></span>
                <span class="ic-arrow-right"></span>
            </div>
            <div class="#: rowCssClass #">
                #for(var i = 0; i < Rows.length; i++) {
                    if(Rows[i].CssClass.indexOf('sd_hex') > -1) {#
                        <a class="#: Rows[i].CssClass #" style="background-color: #: Rows[i].Color #" target="_blank" href="#: Rows[i].Link #"><span>#: Rows[i].Name #</span></a>
                    #}else{#
                        <a class="#: Rows[i].CssClass #" href="#: Rows[i].Link #" target="_blank">#: Rows[i].Name #</a>
                #}}#
            </div>
        </div>
        @*var rowCssClass = item.CssClass.Contains("sd_open_title") ? "sd_row_open" : "sd_row";
                if (item.IsExpanded)
                {
                    rowCssClass += " sd_row_open";
                }
                <div class='sd_col @(item.IsExpanded ? "open": "")'>
                    <div class="@item.CssClass">
                        <span>@item.Name</span>
                        <span class="ic-arrow-right"></span>
                    </div>
                    <div class='@rowCssClass'>
                        @foreach (var row in item.Rows)
                        {
                            if (row.CssClass.Contains("sd_hex"))
                            {
                                <a class="@row.CssClass" style="background-color: @row.Color" title="@row.Name" href="@row.Link"><span>@row.Name</span></a>
                            }
                            else
                            {
                                <a class="@row.CssClass" href="@row.Link" title="@row.Name"><span>@row.Name</span></a>
                            }
                        }
                    </div>
                </div>*@
    # }#
</script>

<script id="slider-template" type="text/x-kendo-template">
    #if (RowType == '@((int)RowType.title)') {#
    <div class="#: CssClass #">
        <a data-bind="attr: { href: Link, title: Name }">
            <div class="slide-img">
                <img src="#: PictureModel.ImageUrl #" alt="#: PictureModel.AlternateText #" />
            </div>
        </a>
        <div class="slider-desc">
            <div class="slide-title" data-bind="text: Name"></div>
            <div class="slide-desc">
                #if (ShowDescription) {#
                <div class="slide-desc-info" data-bind="html: Description"></div>
                #}#
                #if (ShowBuyButton) {#
                <a class="slide-but" data-bind="attr: { href: Link, title: Name }">@T("Slider.BuyButtonText")</a>
                #}#
            </div>
        </div>
    </div>
    #}#
</script>
<script id="dot-template" type="text/x-kendo-template">
    <span class="#: DotCssClass #" data-target="\\#sliderCarousel_#: ParentNumber #" data-slide-to="#: Index #"></span>
</script>