﻿@using Nop.Core.Domain.Catalog
<div>
    <div class="slider-wrap carousel" id="sliderCarousel" style="border-right-width:0; border-left-width: 0;" data-bind="attr: { data-interval: Interval, data-ride: Ride }, style: { border-top-width: BorderTopWidth, border-bottom-width: BorderBottomWidth, border-color: BorderColor, border-style: BorderStyleText }">
        <div class="slider-dot carousel-indicators" data-template="dot-template" data-bind="visible: VisibleDots, source: Items"></div>
        <script id="dot-template" type="text/x-kendo-template">
            <span class="#: DotCssClass #" data-target="\\#sliderCarousel" data-slide-to="#: Index #"></span>
        </script>
        <div class="carousel-inner" role="listbox" data-template="column-template" data-bind="source: Items"></div>
        <script id="column-template" type="text/x-kendo-template">
            #if (RowType == '@((int)RowType.title)') {#
            <div class="#: CssClass #">
                <a data-bind="attr: { href: Link, title: Name }">
                    <div class="slide-img">
                        <img src="#: PictureModel.ImageUrl #" alt="#: PictureModel.AlternateText #" />
                    </div>
                </a>
                <div class="slider-desc">
                    <div class="slide-title" data-bind="text: Name"></div>
                    <div class="slide-desc">
                        #if (ShowDescription) {#
                        <div class="slide-desc-info" data-bind="html: Description"></div>
                        #}#
                        #if (ShowBuyButton) {#
                            <a class="slide-but" data-bind="attr: { href: Link, title: Name }">@T("Slider.BuyButtonText")</a>
                        #}#
                    </div>
                </div>
            </div>
            #}#

        </script>
        <a class="prev" data-bind="visible: VisibleArrows" href="#sliderCarousel" role="button" data-slide="prev">❮</a>
        <a class="next" data-bind="visible: VisibleArrows" href="#sliderCarousel" role="button" data-slide="next">❯</a>
    </div>
</div>