﻿
#top-nav a {
    border-right: 2px solid #DEDEDE;
    padding: 3px
}

    #top-nav a.none-sep {
        border-right: none;
        padding: 3px
    }

.top-menu {
    z-index: -1;
    position: relative;
    width: 100%;
    float: left;
    display: block;
    text-align: right;
}

    .top-menu a {
        line-height: 14px;
        color: #5F5F5F;
        text-align: right;
        font-size: 12px;
        letter-spacing: 0
    }

        .top-menu a:hover {
            color: #383838;
            text-decoration: underline
        }

.mm_sep {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #5F5F5F
}

.mm_con {
    display: block;
    background: transparent;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9999;
    margin: 8px auto;
    max-width: 960px;
}

.mm_wrap {
    width: 100%;
    float: left;
    max-width: 960px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin: 0;
    background: #FFF;
    padding: 0 0 20px 0;
}

.mm_header {
    float: left;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 8px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

    .mm_header > a {
        border-bottom: 2px solid #DEDEDE;
        color: #000;
        padding-bottom: 3px;
    }

.mm_con .mm_link {
    text-transform: none;
    color: #5F5F5F;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.mm_col {
    width: 21%;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 1% 2%;
}

.mm_img_wrap {
    width: 96%;
    float: left;
    max-width: 960px;
    margin: 0 2%;
}

.mm_image, .mm_last_image {
    width: 14%;
    padding: 0;
    margin: 1%;
    float: left;
    min-height: 170px;
}

.mm_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    background-color: #666;
    z-index: -1
}

.mm_column_title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 4px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%
}

    .mm_column_title span {
        color: #1187D0
    }

.mm_con a:hover {
    text-decoration: underline
}

.mm_link, .mm_last_link {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 16px;
    color: #5F5F5F;
    word-wrap: break-word;
    font-weight: 400;
    height: auto;
    width: 100%;
    text-decoration: none
}

.mm_blue_link {
    font-size: 14px;
    font-weight: 700;
    color: #0d86ff;
}

.mm_col span, .mm_img_wrap span {
    border: 0;
}

.mm_hex {
    width: 22px;
    height: 22px;
    float: left;
    display: inline-block;
    margin: 0 2.3% 2.3% 0;
    border: 1px solid #DEDEDE
}

    .mm_hex span {
        display: none
    }

.hex_white {
    background: #fff;
    color: #ddd;
}

.hex_silver {
    background: #C0C0C0;
}

.hex_black {
    background: #000;
}

.hex_ivory {
    background: #F6E8C9;
}

.hex_lilac {
    background: #B98EBB;
}

.hex_teal {
    background: #3BB1B0;
}

.hex_pink {
    background: #FF6296;
}

.hex_hotPink {
    background: #DC1079;
}

.hex_navy {
    background: #000080;
}

.hex_green {
    background: #00A336;
}

.hex_burgundy {
    background: #A00238;
}

.hex_purple {
    background: #801D78;
}

.hex_gold {
    background: #C9A746;
}

.hex_babyBlue {
    background: #72C2E7;
}

.hex_royalBlue {
    background: #006EB3;
}

.hex_blue {
    background: #0573BA;
}

.hex_limeGreen {
    background: #AAD200;
}

.hex_red {
    background: #D00117;
}

.hex_orange {
    background: #FF7E00;
}

.hex_yellow {
    background: #FFF500;
}

.hex_lavender {
    background: #B780B7;
}

.hex_coral {
    background: #DF9A8A;
}

.hex_rose_gold {
    background: #DCC2B0;
}

.hex_mint {
    background: #A9CDCF;
}

.hex_goldfoil {
    background: #CEC59D;
}

.hex_silverfoil {
    background: #D4D4D2;
}

.hex_greenfoil {
    background: #5FA84C;
}

.hex_redfoil {
    background: #CA5F63;
}


.hex_black-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_red-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_yellow-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_green-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_blue-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_pink-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_silver-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_gold-dots {
    padding: 0;
    background-image: repeating-radial-gradient(transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_black-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#000 4px,#000 6px)
}

.hex_red-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#E00026 4px,#E00026 6px)
}

.hex_yellow-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#FFDE17 4px,#FFDE17 6px)
}

.hex_green-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#70D84A 4px,#70D84A 6px)
}

.hex_blue-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#0D86FF 4px,#0D86FF 6px)
}

.hex_pink-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#F69 4px,#F69 6px)
}

.mm_ball {
    width: 20px;
    height: 26px;
    float: left;
    display: inline-block;
    margin: 2.5%;
    border: 1px solid #DEDEDE;
    border-radius: 80%;
    position: relative;
    box-shadow: inset -5px -5px 0 rgba(0,0,0,0.07);
    transition: transform 0.5s ease;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
}

    .mm_ball:before {
        content: "▲";
        font-size: 10px;
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: -12px;
        z-index: -100;
    }

    .mm_ball span {
        display: none
    }

.mm_close, .mm_account, .mm_contact, .mm_returns, .mm_delivery, .mm_label {
    display: none
}

.mm_tab {
    color: #000;
    width: 100%;
    background-color: inherit;
    font-size: 16px;
    word-wrap: break-word;
    padding: 9px 8px;
    text-decoration: none;
}

#primary-menu .mm_tab {
    font-weight: 700;
}

    #primary-menu .mm_tab span {
        border-bottom: 2px solid
    }

    #primary-menu .mm_tab .mm_con span {
        border-bottom: 0px solid
    }

.mm_tab:hover {
    background: #fff;
}

.info-col {
    float: left;
    width: 25%;
    max-width: 100%;
    min-height: 200px;
}

    .info-col a {
        width: 100%;
    }

    .info-col .m_title {
        width: 100%;
        font-weight: 700;
        margin: 0;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0;
        color: #FFF;
        padding-bottom: 10px;
        display: inline-block;
        transition: all linear .15s;
    }

    .info-col .m_link {
        width: 100%;
        color: #95989a;
        float: left;
    }

.main_navigation {
    width: 960px;
    float: none;
    margin: 0 auto;
    display: table;
    margin-bottom: 3px;
    padding: 10px 0;
}

    .main_navigation:hover {
        background: #e9e8e7;
    }

        .main_navigation:hover .mm_tab span {
            border: none;
        }

.m_mobile {
    display: none;
}

@media only screen and (max-width:960px) {
    .m_mobile {
        display: block;
    }
}
