.coll_6 {
    width: 14% !important;
}

.coll_4 {
    width: 23% !important;
}

.coll_3 {
    width: 31.3% !important;
}

.coll_2 {
    width: 48% !important;
}

.coll_1 {
    width: 98% !important;
}

.coll_40 {
    width: 34% !important;
}

.coll_20 {
    width: 26% !important;
}

.hex_white {
    background: #fff;
    color: #ddd
}

.hex_silver {
    background: silver
}

.hex_black {
    background: #000
}

.hex_ivory {
    background: #F6E8C9
}

.hex_lilac {
    background: #B98EBB
}

.hex_teal {
    background: #3BB1B0
}

.hex_pink {
    background: #FF6296
}

.hex_hotPink {
    background: #DC1079
}

.hex_navy {
    background: navy
}

.hex_green {
    background: #00A336
}

.hex_burgundy {
    background: #A00238
}

.hex_purple {
    background: #801D78
}

.hex_gold {
    background: #C9A746
}

.hex_babyBlue {
    background: #72C2E7
}

.hex_royalBlue {
    background: #006EB3
}

.hex_blue {
    background: #0573BA
}

.hex_limeGreen {
    background: #AAD200
}

.hex_red {
    background: #D00117
}

.hex_orange {
    background: #FF7E00
}

.hex_yellow {
    background: #FFF500
}

.hex_lavender {
    background: #B780B7
}

.hex_coral {
    background: #DF9A8A
}

.hex_rose_gold {
    background: #DCC2B0
}

.hex_mint {
    background: #A9CDCF
}

.hex_goldfoil {
    background: #CEC59D
}

.hex_silverfoil {
    background: #D4D4D2
}

.hex_greenfoil {
    background: #5FA84C
}

.hex_redfoil {
    background: #CA5F63
}

.hex_dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,white,white 3px,transparent 3px,transparent 100%);
    background-image: -moz-repeating-radial-gradient(center,white,white 3px,transparent 3px,transparent 100%);
    background-image: -ms-repeating-radial-gradient(center,white,white 3px,transparent 3px,transparent 100%);
    background-image: -repeating-radial-gradient(center,white,white 3px,transparent 3px,transparent 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_black-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#000 3px,#000 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_red-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#E00026 3px,#E00026 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_yellow-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#FFDE17 3px,#FFDE17 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_green-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#70D84A 3px,#70D84A 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_blue-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#0D86FF 3px,#0D86FF 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_pink-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#F69 3px,#F69 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_silver-dots {
    padding: 0;
    background-image: -webkit-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#c9a746 3px,#c9a746 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_gold-dots {
    padding: 0;
    background-image: repeating-radial-gradient(transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -moz-repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -ms-repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    background-image: -repeating-radial-gradient(center,transparent,transparent 3px,#dedede 3px,#dedede 100%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px
}

.hex_stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,transparent 4px,transparent 6px)
}

.hex_black-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#000 4px,#000 6px)
}

.hex_red-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#E00026 4px,#E00026 6px)
}

.hex_yellow-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#FFDE17 4px,#FFDE17 6px)
}

.hex_green-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#70D84A 4px,#70D84A 6px)
}

.hex_blue-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#0D86FF 4px,#0D86FF 6px)
}

.hex_pink-stripes {
    background: repeating-linear-gradient(135deg,#fff,#fff 4px,#F69 4px,#F69 6px)
}

iframe, img {
    max-width: 100%
}

.dropdown-header {
    border-width: 0 0 1px 0;
    text-transform: uppercase;
}

    .dropdown-header > span {
        display: inline-block;
        padding: 10px;
    }

        .dropdown-header > span:first-child {
            width: 50px;
        }

.selected-value {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 5px;
}

span.picture-span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 5px;
}

    span.picture-span:first-child {
        -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        margin: 10px;
        width: 50px;
        height: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

h3.picture-h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}