﻿.sd_open {
    display: block
}

.sd_hex {
    width: 14.6%;
    height: 31px;
    float: left;
    display: inline-block;
    margin: 0 2% 2% 0;
    border: 1px solid #DEDEDE
}

    .sd_hex span {
        display: none
    }

.sd_header {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left
}

    .sd_header span {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 2px solid #BFBFBF;
        width: 100%;
        float: left;
        padding-bottom: 10px;
        margin-bottom: 5px
    }

.sd_column_title {
    border-bottom: 1px solid #BFBFBF;
    display: inline-block;
    color: #000000;
    width: 100%;
    padding: 9px 0 7px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5px
}

    .sd_column_title .ic-arrow-right {
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        border: solid #000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.5px;
        float: right;
        margin: 5px 10px 5px 5px;
    }

    .sd_col.open .sd_column_title .ic-arrow-right {
        transform: rotate(406deg);
        -webkit-transform: rotate(406deg);
    }

.sd_open_title {
    border-bottom: 1px solid #BFBFBF;
    color: #000000;
    display: inline-block;
    width: 100%;
    padding: 5px 0 7px;
    font-weight: 700
}

    .sd_open_title .ic-arrow-right {
        display: none
    }

.mm_sep .ic-arrow-right {
    display: none
}

#sidebar-app a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #5F5F5F;
    word-wrap: break-word;
    text-decoration: none
}

    #sidebar-app a:hover {
        text-decoration: underline
    }

.sd_link {
    color: #000000;
    float: left;
    height: auto;
    width: 100%;
    padding: 4px 0
}

.sd_last_link {
    float: left;
    height: auto;
    width: 100%;
    padding: 4px 0 10px !important;
    border-bottom: 1px solid #BFBFBF;
}

.sd_title {
    display: block;
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 15px;
    width: 100%;
    padding: 2px 0;
    margin: 3px 0
}

    .sd_title span {
        font-size: 14px;
        font-weight: 600;
        color: #000
    }

.sd_ball {
    width: 20px;
    height: 26px;
    float: left;
    display: inline-block;
    margin: 2.5%;
    border: 1px solid #DEDEDE;
    border-radius: 80%;
    position: relative;
    box-shadow: inset -5px -5px 0 rgba(0,0,0,0.07);
    transition: transform .5s ease;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center
}

    .sd_ball:before {
        content: "▲";
        font-size: 10px;
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: -12px;
        z-index: -100
    }

    .sd_ball span {
        display: none
    }

.sd_sep {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #5F5F5F;
    padding: 2px 0;
    margin: 8px 0 4px
}

.sd-image {
    display: block;
    margin: 10px 0 0;
    float: left;
    position: relative;
    width: 100%
}

.sd-conn a,
.sd-conn a:hover,
.sd-conn a:focus,
.sd-conn a:active {
    color: #000000;
}

.sd_row,
.sd_row_open {
    border-bottom: 1px solid #BFBFBF;
    float: left;
    padding-bottom: 8px;
    width: 100%;
}

.sd_row {
    display: none;
}

.sd_row_open {
    display: block;
}

.sd_icon {
    float: left;
    width: 100%;
}

    .sd_icon .sd-img {
        width: 15%;
        float: left;
        margin: 0 3% 0 0;
    }

    .sd_icon span {
        width: 82%;
        float: left;
    }

.green-title {
    font-weight: 700;
    float: left;
    color: #a1d33e;
    font-size: 21px;
    line-height: 21px;
    border-top: 2px solid #BFBFBF;
    margin-top: 15px;
    padding: 15px 0;
}

.pink-title {
    font-size: 16px;
    font-weight: 700;
    float: left;
    color: #cd238a;
    width: 100%;
    padding-bottom: 15px;
}

.red-title {
    font-size: 16px;
    font-weight: 700;
    float: left;
    color: #ec4235;
    width: 100%;
    padding-bottom: 15px;
}

.blue-title {
    font-size: 16px;
    color: #00a1e4;
    font-weight: 700;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}

