/*-------- HOMEPAGE --------*/
.sale-box {width: 34%!important;float: left;margin: 1%;padding: 0;margin-top: -142px;height: 116px;background: #ef4036;}
.sale-box .h-title {margin: 20px 75px;position: relative;word-wrap: break-word;padding: 3px 4px;display: block;float: left;letter-spacing: -1px;background-color: unset;color: #fff;text-align: left;font-weight: 700;font-size: 65px;}
.h-box {float: left;width: 46%;margin: 1%;padding: 0;}
.h-page{max-width:960px;margin:0 auto;padding: 0;}
.h-conn {float: left;position: relative;display: block;width: 100%;}
.h-desc{color:#545454;padding-right:5px;box-sizing:border-box;float:left;font-size:14px;font-weight:400;width:100%;margin:5px 0;position:relative;}
.h-title {margin:0;position:relative;word-wrap:break-word;padding:3px 0;display:block;float:left;letter-spacing:-1px;background-color:#fff;color:#000;text-align:left;font-weight:700;font-size:18px;}
.h-link {float: left;position: relative;display: block;width: auto;margin:30px 0 50px 10px;}
.h-link2 {float: left;position: relative;display: block;width: auto;margin:30px 0 50px 200px;}
.h-link2 .h-title {font-size:18px;font-weight:400;}
.h-page .no-desc .h-desc {display:none}
.h-page .no-title .h-title {display:none}
.h-page .no-img .h-img {display:none}
.h-img {}
.h-banner {float: left;width: 98%;margin: 1%;padding: 0;}
.h-copy {float: left;width: 98%;margin: 1%;padding: 0;}
.h-pers{display:inline-block;margin-left:0;position:relative;width:16.5%;float:left;z-index:1;}
.h-rot-1{-ms-transform:rotate(10deg);-webkit-transform:rotate(10deg);transform:rotate(10deg);}
.h-rot-2{top:40px;left:-20px;-ms-transform:rotate(-10deg);-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
.h-rot-3{-ms-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);transform:rotate(-3deg);top:-10px;left:-10px;}
.h-rot-4{-ms-transform:rotate(7deg);-webkit-transform:rotate(7deg);transform:rotate(7deg);top:50px;left:-10px;z-index:2;}
.h-rot-5{-ms-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);transform:rotate(-4deg);top:5px;left:-20px;}
.h-rot-6{-ms-transform:rotate(2deg);-webkit-transform:rotate(2deg);transform:rotate(2deg);top:60px;left:-10px;}
.h-sep{display:block;float:left;position:relative;width:100%;padding:20px 0;}
.h-sep-belt{max-width:960px;width:100%;height:3px;background-color:#000;position:relative;float:left;display:inline;z-index:901;}
.h-sep-text{z-index:902;background-color:#F3F3EE;padding:3px;padding-right:5px;color:#000;line-height:0;font-size:16px;letter-spacing:0;font-weight:700;position:relative;float:left;top:-3px;}
.h-pers:hover{z-index:3;}
.h-pers img:hover{opacity:1;}

