/*Slider*/
/* #masthead {margin-top: 32px;} */
.text-slider .slider-wrap {
    max-width: 960px;
    float: none;
    margin: 0 auto;
}

.text-slider {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background: #a1cd49;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

    .text-slider .prev, .text-slider .next {
        padding: 0 20%;
        margin-top: -12px;
        background-color: unset;
    }

    .text-slider .slide-title {
        margin: 0;
        position: relative;
        word-wrap: break-word;
        padding: 0.5%;
        display: block;
        float: none;
        letter-spacing: -1px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
    }

.home-slider {
    width: 48%;
    float: left;
    margin: 1%;
    padding: 0;
}

.prod-slider {
    width: 98%;
    float: left;
    margin: 1%;
    padding: 0;
}

.cat-slider {
    width: 98%;
    float: left;
    margin: 1%;
    padding: 0;
}

.home-slider .slide-desc {
    color: #FFF;
    font-size: 14px;
    float: left;
    max-height: 32px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home-slider .slide-title {
    margin: 0 0 10px 0;
    position: relative;
    word-wrap: break-word;
    padding: 0;
    display: block;
    float: left;
    letter-spacing: -1px;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.slider-desc {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    padding-right: 5px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    position: absolute;
    padding: 3% 3% 7% 3%;
}

    .slider-desc .slide-desc-info {
        display: inline-block;
    }

    .slider-desc .slide-but {
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
    }


.carousel-indicators.slider-dot {
    float: left;
    width: 98%;
    margin: 3% 2% -9% 0;
    padding: 0;
    max-width: 100%;
    left: 0;
    bottom: 0;
    position: relative;
    text-align: right;
    z-index: 1
}

.slide {
    display: none;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative
}

.slide1 {
    float: left;
    width: 23%;
    margin: 1%;
    padding: 0;
    max-width: 100%;
    position: relative
}

.slide2 {
    float: left;
    width: 23%;
    margin: 1%;
    padding: 0;
    max-width: 100%;
    position: relative
}

.slide3 {
    float: left;
    width: 23%;
    margin: 1%;
    padding: 0;
    max-width: 100%;
    position: relative
}

.slide-img {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative
}

img {
    vertical-align: middle
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 5px 10px;
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    border-radius: 0 3px 3px 0;
    left: 0;
}

.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.carousel-indicators .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

    .carousel-indicators .dot.active, .carousel-indicators .dot:hover {
        background-color: #717171;
        height: 15px;
        width: 15px;
    }

.carousel-inner > .item.active {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

.sl_title {
    float: left;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
