﻿@model HomePageOverviewModel
@using Nop.Core.Domain.Catalog

@{
    foreach (var item in Model.Items)
    {
        if (item.RowType == RowType.header)
        {
            <div class="@item.CssClass">@item.Name</div>
        }
        else if (item.RowType == RowType.title)
        {
            if (item.SliderModel != null)
            {
                @await Html.PartialAsync("_SliderBox", item.SliderModel)
            }
            else
            {
                <a class="@item.CssClass" href="@item.Link" title="@item.Name">
                    @if (item.ShowPicture)
                    {
                        <div class="h-img">
                            <img src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" />
                        </div>
                    }
                    
                    @if (item.ShowName)
                    {
                        <div class="h-title">@item.Name</div>
                    }
                    
                    @if (item.ShowDescription)
                    {
                        <div class="h-desc">@Html.Raw(item.Description)</div>
                    }
                </a>
            }
        }
        else if (item.RowType == RowType.imagecolumn)
        {
            <div class="m_img_wrap">
                @foreach (var row in item.Rows)
                {
                    <a class="@row.CssClass" href="@row.Link" title="@row.Name">
                        <img width="145" height="145" src="@row.PictureModel.ImageUrl" alt="@row.PictureModel.AlternateText" />
                        <span>@row.Name</span>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="@item.CssClass">
                <span>@item.Name</span>
                <div class="ic-arrow-right"></div>
            </div>
            <div class="sd_col">
                @foreach (var row in item.Rows)
                {
                    if (row.CssClass.Contains("sd_hex"))
                    {
                        <a class="@row.CssClass" style="background-color: @row.Color" target="_blank" href="@row.Link"><span>@row.Name</span></a>
                    }
                    else
                    {
                        <a class="@row.CssClass" href="@row.Link" target="_blank">@row.Name</a>
                    }
                }
            </div>
        }
    }
}