﻿@model Nop.Plugin.Payments.WorldpayUK.Models.PaymentInfoModel
@{
    Layout = "";
    Html.AddScriptParts(ResourceLocation.Footer, "https://gwapi.demo.securenet.com/v1/PayOS.js");
}
@inject Nop.Core.IWorkContext workContext
@inject WorldpayUKPaymentSettings worldpayUKPaymentSettings
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<input type="hidden" asp-for="Token">
<input type="hidden" asp-for="Errors">
<div id='WorldpayUKPaymentSection'></div>

<script type="text/javascript">
    $(document).ready(function () {
        var submitForm = false;
        var errorsExist = false;
        var stepBack = false;
        var onePageCheckout = @orderSettings.OnePageCheckoutEnabled.ToString().ToLower();
        $('.payment-info-next-step-button').attr('onclick', null);
        
        $.getScript("https://cdn.worldpay.com/v1/worldpay.js", function (data, textStatus, jqxhr) {

            Worldpay.useTemplateForm({
                'clientKey': '@worldpayUKPaymentSettings.ClientKey',
                'saveButton': false,
                'paymentSection': 'WorldpayUKPaymentSection',
                'display': 'inline',
                'callback': function (obj) {
                    //debugger;
                    if (obj && obj.token) {
                        $('#@Html.IdFor(model => model.Errors)').val("");
                        $('#@Html.IdFor(model => model.Token)').val(obj.token);
                        submitForm = true;
                        $('input.payment-info-next-step-button').click();
                    } else {
                        $('#@Html.IdFor(model => model.Errors)').val(obj.error);
                        errorsExist = true;
                        submitForm = true;
                        $('input.payment-info-next-step-button').click();
                    }
                }
            });

        });

        $('input.payment-info-next-step-button').on('click', function (data) {
            if (!submitForm) {
                if (!errorsExist && !stepBack) {
                    Worldpay.submitTemplateForm();
                }
                return false;
            }
            else if (onePageCheckout) {
                submitForm = false;
                PaymentInfo.save();
            }
        });

        $(document).on('accordion_section_opened', function (data) {
            if (data && (data.currentSectionId == 'opc-billing' || data.currentSectionId == 'opc-shipping' || data.currentSectionId == 'opc-shipping_method' || data.currentSectionId == 'opc-payment_method')) {
                stepBack = true;
            }
        });

    });

</script>
