@model HomePageModel

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="homePageHdr">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="buttons">
            <button id="btnHomePageSettings" class="btn btn-info"><i class="fa fa-gear"></i>Settings</button>
            <button id="btnHomePagePreview" type="button" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                Preview
            </button>
            <div id="previewWindow">
                @{await Html.RenderPartialAsync("_HomePagePreview");}
            </div>
        </div>
        <form asp-controller="HomePage" asp-action="EditHomePage" method="post" id="homePageEditForm" style="display: none;">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SetCountDown" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SetCountDown" />
                    <span asp-validation-for="SetCountDown"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Visible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Visible" />
                    <span asp-validation-for="Visible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="StartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="EndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveHomePage" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelHomePage" class="btn">Cancel</button>
                <button id="btnHomePageDelete" type="button" onclick="DeleteHomePage(@Model.Id)" class="btn bg-red pull-right"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </form>
        <div id="itemButtons" class="buttons margin-t-5">
            <button id="btnHomePageAddHeader" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.header')">@T("Admin.Catalog.AddHeader")</button>
            <button id="btnHomePageAddTextColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.textcolumn')">@T("Admin.Catalog.AddTextColumn")</button>
            <button id="btnHomePageAddImageColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.imagecolumn')">@T("Admin.Catalog.AddImageColumn")</button>
            <button id="btnAddCategoryRow"
                    onclick="javascript:OpenWindow('@(Url.Action("HomePageAddRowCategoryPopup", "HomePage", new { homePageId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddCategoryRow")
            </button>
            <button id="btnAddProductRow"
                    onclick="javascript:OpenWindow('@(Url.Action("HomePageAddRowProductPopup", "HomePage", new { homePageId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddProductRow")
            </button>
            <button id="btnAddElementRow"
                    onclick="javascript:OpenWindow('@(Url.Action("HomePageAddRowElementPopup", "HomePage", new { homePageId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddElementRow")
            </button>
            <button id="btnAddTopicRow"
                    onclick="javascript:OpenWindow('@(Url.Action("HomePageAddRowTopicPopup", "HomePage", new { homePageId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddTopicRow")
            </button>
            <button id="btnAddSliderRow"
                    onclick="javascript:OpenWindow('@(Url.Action("HomePageAddRowSliderPopup", "HomePage", new { homePageId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddSliderRow")
            </button>
        </div>
        <div id="addColumnBox" class="margin-t-5"></div>
    </div>
</div>

<script>
    var homePageViewModel = kendo.observable({
        Items: {}
    });

    var previewWindow = $("#previewWindow"),
        btnHomePagePreview = $("#btnHomePagePreview");

    previewWindow.kendoWindow({
        width: "960px",
        visible: false,
        title: '@Model.Name'
    });

    btnHomePagePreview.click(function () {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action("HomePagePreview", "Catalog", new { Area = "" }))",
            data: {  HomePageId: '@Model.Id' },
            success: function (data) {
                if (data.Items.length > 0) {
                    homePageViewModel.set('Items', data.Items);
                    kendo.bind(previewWindow, homePageViewModel);
                }
                
                var modal = previewWindow.data("kendoWindow");
                previewWindow.data("kendoWindow").open().center();
            }
        });

        return false;
    });

    $('#btnHomePageSettings').on('click', function (e) {
        $("#homePageEditForm").show();
        $(this).hide();
        $("#divActionButtons").show();
    });

    $('#btnSaveHomePage').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#homePageEditForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("EditHomePage", "HomePage"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#homePageHdr').text(response.name);
                    $('#homePageDetails_@Model.Id').text(response.name);
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the home page. Please refresh the page and try one more time.');
            }
        });

        }
    });

    $('#btnCancelHomePage').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#homePageEditForm").hide();
        $("#btnHomePageSettings").show();
        $("#divActionButtons").hide();
    });
</script>