@model SidebarModel

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="sidebarHdr">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="buttons">
            <button id="btnSidebarSettings" class="btn btn-info"><i class="fa fa-gear"></i>Settings</button>
            <button id="btnSidebarPreview" type="button" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                Preview
            </button>
            <div id="previewWindow">
                @{await Html.RenderPartialAsync("_SidebarPreview");}
            </div>
        </div>
        <form asp-controller="Sidebar" asp-action="EditSidebar" method="post" id="sidebarEditForm" style="display: none;">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SetCountDown" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SetCountDown" />
                    <span asp-validation-for="SetCountDown"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Visible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Visible" />
                    <span asp-validation-for="Visible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="StartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="EndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveSidebar" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelSidebar" class="btn">Cancel</button>
                <button id="btnSidebarDelete" type="button" onclick="DeleteSidebar(@Model.Id)" class="btn bg-red pull-right"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </form>
        <div id="itemButtons" class="buttons margin-t-5">
            <button id="btnSidebarAddHeader" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.header')">@T("Admin.Catalog.AddHeader")</button>
            <button id="btnSidebarAddTextColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.textcolumn')">@T("Admin.Catalog.AddTextColumn")</button>
            <button id="btnSidebarAddImageColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.imagecolumn')">@T("Admin.Catalog.AddImageColumn")</button>
            <button id="btnAddCategoryRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SidebarAddRowCategoryPopup", "Sidebar", new { sidebarId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddCategoryRow")
            </button>
            <button id="btnAddProductRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SidebarAddRowProductPopup", "Sidebar", new { sidebarId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddProductRow")
            </button>
            <button id="btnAddElementRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SidebarAddRowElementPopup", "Sidebar", new { sidebarId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddElementRow")
            </button>
            <button id="btnAddTopicRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SidebarAddRowTopicPopup", "Sidebar", new { sidebarId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddTopicRow")
            </button>
            <button id="btnAddSidebarRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SidebarAddRowSliderPopup", "Sidebar", new { sidebarId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddSliderRow")
            </button>
        </div>
        <div id="addColumnBox" class="margin-t-5"></div>
    </div>
</div>

<script>
    var sidebarViewModel = kendo.observable({
        Items: {}
    });

    var previewWindow = $("#previewWindow"),
        btnSidebarPreview = $("#btnSidebarPreview");

    previewWindow.kendoWindow({
        width: "960px",
        visible: false,
        title: '@Model.Name'
    });

    btnSidebarPreview.click(function () {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action("SidebarPreview", "Catalog", new { Area = "" }))",
            data: {  SidebarId: '@Model.Id' },
            success: function (data) {
                if (data.Items.length > 0) {
                    sidebarViewModel.set('Items', data.Items);
                    kendo.bind(previewWindow, sidebarViewModel);
                }

                var modal = previewWindow.data("kendoWindow");
                previewWindow.data("kendoWindow").open().center();
                PreviewInit();
            }
        });

        return false;
    });

    $('#btnSidebarSettings').on('click', function (e) {
        $("#sidebarEditForm").show();
        $(this).hide();
        $("#divActionButtons").show();
    });

    $('#btnSaveSidebar').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#sidebarEditForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("EditSidebar", "Sidebar"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#sidebarHdr').text(response.name);
                    $('#sidebarDetails_@Model.Id').text(response.name);
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the sidebar. Please refresh the page and try one more time.');
            }
        });

        }
    });

    $('#btnCancelSidebar').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#sidebarEditForm").hide();
        $("#btnSidebarSettings").show();
        $("#divActionButtons").hide();
    });

    function PreviewInit() {
        $(".sd_column_title").on('click', function () {
            var element = $(this).parent('.sd_col');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.children('.sd_row').slideUp();
            } else {
                element.addClass('open');
                element.children('.sd_row').slideDown();
                var siblings = element.siblings('.sd_col');
                siblings.children('.sd_row').slideUp();
                siblings.removeClass('open');
                siblings.children('.sd_row').slideUp();
            }
        });
    };
</script>