<input id="@Html.IdForModel()" name="@Html.NameForModel()" />
<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    type: "json",
                    read: {
                        url: "@Html.Raw(Url.Action("GetAvailableCategories", "Category"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                }
            },
            change: function(e) {
                var widget = e.sender;

                if (widget.value() && widget.select() === -1) {
                    //custom has been selected
                    widget.value("");
                }
            }
        });

        var widget = $("#@Html.IdForModel()").getKendoComboBox();
        widget.input.on("focus", function () {
            widget.open();
        });
    });
</script>