@model int?
<input id="@Html.IdForModel()" name="@Html.NameForModel()" />

@{
    var parentName = "";
    if (ViewData.ContainsKey("parentName") && ViewData["parentName"] != null)
    {
        parentName = ViewData["parentName"].ToString();
    }

    var collapseValue = Model.HasValue ? Model.Value: - 1;
}

<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoComboBox({
            autoBind: false,
            cascadeFrom: "@parentName",
            filter: "contains",
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    type: "json",
                    read: {
                        url: "@Html.Raw(Url.Action("GetAvailableCollapseItem", "Sidebar"))",
                        type: "POST",
                        dataType: "json",
                        data: function () {
                            var data = {
                                parentID: $('#@parentName').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    }
                }
            },
            change: function(e) {
                var widget = e.sender;

                if (widget.value() && widget.select() === -1) {
                    //custom has been selected
                    widget.value("");
                }
            },
            filtering: function (e) {
                debugger;
            }
        });

        var widget = $("#@Html.IdForModel()").getKendoComboBox();
        if (@collapseValue > -1) {
            widget.value(@collapseValue);
        }

        widget.input.on("focus", function () {
            widget.open();
        });
    });
</script>