﻿@model SidebarOverviewModel
@using Nop.Core.Domain.Catalog

<div class="sd-conn">
    @{
        foreach (var item in Model.Items)
        {
            if (item.RowType == RowType.header)
            {
                <div class="@item.CssClass"><span>@item.Name</span></div>
            }
            else if (item.RowType == RowType.title)
            {
                if (item.SliderModel != null)
                {
                    @await Html.PartialAsync("_SliderBox", item.SliderModel)
                }
                else
                {
                    <a class="@item.CssClass" href="@item.Link" title="@item.Name"><span>@item.Name</span></a>
                }
            }
            else if (item.RowType == RowType.imagecolumn)
            {
                <div class="m_img_wrap">
                    @foreach (var row in item.Rows)
                    {
                        <a class="@row.CssClass" href="@row.Link" title="@row.Name">
                            <img width="145" height="145" src="@row.PictureModel.ImageUrl" alt="@row.PictureModel.AlternateText" />
                            <span>@row.Name</span>
                        </a>
                    }
                </div>
            }
            else
            {
                var rowCssClass = item.CssClass.Contains("sd_open_title") ? "sd_row_open" : "sd_row";
                if (item.IsExpanded)
                {
                    rowCssClass += " sd_row_open";
                }
                <div class='sd_col @(item.IsExpanded ? "open": "")'>
                    <div class="@item.CssClass">
                        <span>@item.Name</span>
                        <span class="ic-arrow-right"></span>
                    </div>
                    <div class='@rowCssClass'>
                        @foreach (var row in item.Rows)
                        {
                            if (row.CssClass.Contains("sd_hex"))
                            {
                                <a class="@row.CssClass" style="background-color: @row.Color" title="@row.Name" href="@row.Link"><span>@row.Name</span></a>
                            }
                            else
                            {
                                <a class="@row.CssClass" href="@row.Link" title="@row.Name"><span>@row.Name</span></a>
                            }
                        }
                    </div>
                </div>
            }
        }
    }
    @* static items *@
    <div class="sd_icon green-title">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/flag-icon.png">
        </div><span>UK Delivery* Options</span>
    </div>
    <div class="sd_icon pink-title">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/purple-truck.png">
        </div>
        <span>24hr Delivery<br>£ 5.95</span>
    </div>
    <div class="sd_icon red-title">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/redish-truck.png">
        </div>
        <span>3-7 Day delivery<br>£ 3.89</span>
    </div>
    <div class="sd_icon blue-title">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/factory-icon.png">
        </div>
        <span>Collections Free</span>
    </div>
    <div class="sd_icon">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/arrow-del.png">
        </div>
        <span>Collect your order from our Milton Keynes warehouse.</span>
    </div>
    <a class="sd-image" href="#" title="">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/new-year-2018-19-sidebar.jpg">
        </div>
        <span></span>
    </a>
    <a class="sd-image" href="#" title="">
        <div class="sd-img">
            <img src="https://partyramaphp7.staging.wpengine.com/wp-content/uploads/2018/12/christmas-sale-2018-sidebar.jpg">
        </div>
        <span></span>
    </a>
</div>

<script>
    $(".sd_column_title").on('click', function () {
        var element = $(this).parent('.sd_col');
        if (element.hasClass('open')) {
            element.removeClass('open');
            element.children('.sd_row').slideUp();
        } else {
            element.addClass('open');
            element.children('.sd_row').slideDown();
            var siblings = element.siblings('.sd_col');
            siblings.children('.sd_row').slideUp();
            siblings.removeClass('open');
            siblings.children('.sd_row').slideUp();
        }
    });
</script>