@model SliderItemModel

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="sliderHdr">
        @switch (Model.ItemRowType)
        {
            case Nop.Core.Domain.Catalog.RowType.header:
        @T("Admin.ItemModel.NewHeader");
                break;
            case Nop.Core.Domain.Catalog.RowType.textcolumn:
        @T("Admin.ItemModel.NewTextColumn")
                break;
            case Nop.Core.Domain.Catalog.RowType.imagecolumn:
        @T("Admin.ItemModel.NewImageColumn");
                break;
        }
    </div>
    <div class="panel-body">
        <form asp-controller="Slider" asp-action="AddColumn" method="post" id="sliderAddItemForm">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ItemCssClass" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-required="true" asp-for="ItemCssClass" />
                    <span asp-validation-for="ItemCssClass"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ItemColor" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="ItemColor" asp-template="ColorPicker" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ItemVisible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ItemVisible" />
                    <span asp-validation-for="ItemVisible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ItemStartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="ItemStartDateUtc" />
                    <span asp-validation-for="ItemStartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ItemEndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="ItemEndDateUtc" />
                    <span asp-validation-for="ItemEndDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper">
                        <label class="control-label" for="@Model.ItemRowConnectionId">@T("Admin.Catalog.SliderItemModel.Fields.Category")</label>
                    </div>
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ItemRowConnectionId" asp-template="Categories" asp-required="true" />
                    <span asp-validation-for="ItemRowConnectionId"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveItem" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelItem" class="btn">Cancel</button>
            </div>
            <input hidden asp-for="ItemRowType" />
            <input hidden asp-for="ItemRowConnectionType" />
            <input hidden asp-for="ItemSliderId" />
        </form>
    </div>
</div>

<script>
    $('#btnSaveItem').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#sliderAddItemForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
                cache: false,
                url: "@(Url.Action("AddColumn", "Slider"))",
                data: form.serialize(),
                type: 'post',
                success: function (response) {
                            if (response.success) {
                                $('#addColumnBox').html('');
                                $("#itemButtons").show();
                                sliderItemGrid.dataSource.read();
                            } else {
                                alert(response.message);
                            }
                        },
                error: function() {
                    alert('Failed to add the new item. Please refresh the page and try one more time.');
                }
            });
        }
    });

    $('#btnCancelItem').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#itemButtons").show();
        $('#addColumnBox').html('');
    });
</script>