@model SliderModel
@using Nop.Core.Domain.Catalog;
@using Nop.Services

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SliderTypeId)").change(toggleSliderType);

        toggleSliderType();

        function toggleSliderType() {
            var newSliderId = "@((int)SliderType.New)";
            var saleSliderId = "@((int)SliderType.Sale)";

            var selectedSliderTypeId = $("#@Html.IdFor(model => model.SliderTypeId)").val();
            if (selectedSliderTypeId
                && (selectedSliderTypeId == newSliderId
                    || selectedSliderTypeId == saleSliderId)) {
                $('#number-group').show();
                $('#itemButtons').hide();
            } else {
                $("#@Html.IdFor(model => model.Number)").val(null)
                $('#number-group').hide();
                $('#itemButtons').show();
            }
        }
    })
</script>

<div class="panel panel-default" style="min-height: 100px;">
    <div class="panel-heading" id="sliderHdr">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="buttons">
            <button id="btnSliderSettings" class="btn btn-info"><i class="fa fa-gear"></i>Settings</button>
            <button id="btnSliderPreview" type="button" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                Preview
            </button>
            <div id="previewWindow">
                @{await Html.RenderPartialAsync("_SliderPreview");}
            </div>
        </div>
        <form asp-controller="Slider" asp-action="EditSlider" method="post" id="sliderEditForm" style="display: none;">
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SetCountDown" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SetCountDown" />
                    <span asp-validation-for="SetCountDown"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Visible" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Visible" />
                    <span asp-validation-for="Visible"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="StartDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="StartDateUtc" />
                    <span asp-validation-for="StartDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="EndDateUtc" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="EndDateUtc" />
                    <span asp-validation-for="EndDateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SliderTypeId" />
                </div>
                <div class="col-md-9">
                    <input type="hidden" asp-for="SliderTypeId" />
                    <nop-select disabled asp-for="SliderTypeId" asp-items="@(((SliderType)Model.SliderTypeId).ToSelectList())" />
                    <span asp-validation-for="SliderTypeId"></span>
                </div>
            </div>
            <div class="form-group" id="number-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Number" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Number" />
                    <span asp-validation-for="Number"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Speed" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Speed" />
                    <span asp-validation-for="Speed"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="VisibleArrows" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="VisibleArrows" />
                    <span asp-validation-for="VisibleArrows"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="VisibleDots" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="VisibleDots" />
                    <span asp-validation-for="VisibleDots"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowBuyButton" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowBuyButton" />
                    <span asp-validation-for="ShowBuyButton"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="CssClass" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="CssClass" />
                    <span asp-validation-for="CssClass"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BorderStyleId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="BorderStyleId" asp-items="@(((BorderStyle)Model.BorderStyleId).ToSelectList())" />
                    <span asp-validation-for="BorderStyleId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="BorderHeight" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="BorderHeight" />
                    <span asp-validation-for="BorderHeight"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="BorderColor" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="BorderColor" asp-template="ColorPicker" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BorderPlacementId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="BorderPlacementId" asp-items="@(((BorderPlacement)Model.BorderPlacementId).ToSelectList())" />
                    <span asp-validation-for="BorderPlacementId"></span>
                </div>
            </div>
            <div class="buttons" id="divActionButtons">
                <button id="btnSaveSlider" class="btn bg-blue"><i class="fa fa-floppy-o"></i>Save</button>
                <button id="btnCancelSlider" class="btn">Cancel</button>
                <button id="btnSliderDelete" type="button" onclick="DeleteSlider(@Model.Id)" class="btn bg-red pull-right"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
        </form>
        <div id="itemButtons" class="buttons margin-t-5">
            <button id="btnSliderAddHeader" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.header')">@T("Admin.Catalog.AddHeader")</button>
            <button id="btnSliderAddTextColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.textcolumn')">@T("Admin.Catalog.AddTextColumn")</button>
            <button id="btnSliderAddImageColumn" class="btn btn-primary" onclick="AddColumn(@Model.Id, '@Nop.Core.Domain.Catalog.RowType.imagecolumn')">@T("Admin.Catalog.AddImageColumn")</button>
            <button id="btnAddCategoryRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SliderAddRowCategoryPopup", "Slider", new { sliderId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddCategoryRow")
            </button>
            <button id="btnAddProductRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SliderAddRowProductPopup", "Slider", new { sliderId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddProductRow")
            </button>
            <button id="btnAddElementRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SliderAddRowElementPopup", "Slider", new { sliderId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddElementRow")
            </button>
            <button id="btnAddTopicRow"
                    onclick="javascript:OpenWindow('@(Url.Action("SliderAddRowTopicPopup", "Slider", new { sliderId = Model.Id, btnId = "btnRefreshItems" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Catalog.Item.AddTopicRow")
            </button>
        </div>
        <div id="addColumnBox" class="margin-t-5"></div>
    </div>
</div>

<script>
    var sliderViewModel = kendo.observable({
        Items: {},
        VisibleArrows: false,
        VisibleDots: false,
        Interval: "false",
        Ride: "false",
        CssClass: "",
        BorderStyleText: "",
        BorderTopWidth: "",
        BorderBottomWidth: "",
        BorderColor: {}
    });

    var previewWindow = $("#previewWindow"),
        btnSliderPreview = $("#btnSliderPreview");

    previewWindow.kendoWindow({
        width: "960px",
        visible: false,
        title: '@Model.Name'
    });

    btnSliderPreview.click(function () {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action("SliderPreview", "Catalog", new { Area = "" }))",
            data: {  SliderId: '@Model.Id' },
            success: function (data) {
                if (data.Items.length > 0) {
                    sliderViewModel.set('Items', data.Items);
                    sliderViewModel.set('VisibleArrows', data.VisibleArrows);
                    sliderViewModel.set('VisibleDots', data.VisibleDots);
                    sliderViewModel.set('Interval', data.Interval);
                    sliderViewModel.set('Ride', data.Ride);
                    sliderViewModel.set('CssClass', data.CssClass);
                    sliderViewModel.set('BorderStyleText', data.BorderStyleText);
                    sliderViewModel.set('BorderTopWidth', data.BorderTopWidth);
                    sliderViewModel.set('BorderBottomWidth', data.BorderBottomWidth);
                    sliderViewModel.set('BorderColor', data.BorderColor);
                    sliderViewModel.set('ShowBuyButton', data.ShowBuyButton)
                    kendo.bind(previewWindow, sliderViewModel);
                    previewWindow.children("div").addClass(sliderViewModel.CssClass);
                }

                var modal = previewWindow.data("kendoWindow");
                previewWindow.data("kendoWindow").open().center();
            }
        });

        return false;
    });

    $('#btnSliderSettings').on('click', function (e) {
        $("#sliderEditForm").show();
        $(this).hide();
        $("#divActionButtons").show();
    });

    $('#btnSaveSlider').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        var form = $('#sliderEditForm');
        $.validator.unobtrusive.parse(form);
        form.validate();

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("EditSlider", "Slider"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#sliderHdr').text(response.name);
                    $('#sliderDetails_@Model.Id').text(response.name);
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the slider. Please refresh the page and try one more time.');
            }
        });

        }
    });

    $('#btnCancelSlider').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $("#sliderEditForm").hide();
        $("#btnSliderSettings").show();
        $("#divActionButtons").hide();
    });
</script>