@model SliderEditModel
@using Nop.Core.Domain.Catalog
@using Nop.Services

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.SliderBuilder").Text;

    Html.SetActiveMenuItemSystemName("Slider builder");
}

<script>
    function sliderDetails(el) {
        $("#previewWindow").remove();
        var url = $(el).data('url');
        var sliderId = $(el).data('sliderid');
        $("#slider_list").children().removeClass("menu-selected");
        $(el).addClass("menu-selected");

        $.get(url, function (data) {
            $('#slider_details').html(data);
            $('#sliderId').val(sliderId);
            sliderItemGrid.dataSource.read();
            $('#sliderItems').show();
        });
    }
</script>

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Catalog.SliderBuilder")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 margin-t-5">
                            <div class="panel panel-default" style="min-height: 185px;">
                                <div class="panel-heading">
                                    @T("Admin.Catalog.Slider.Sliders")
                                </div>
                                <div id="slider_list" class="panel-body panel-menu-tabs">
                                    @foreach (var slider in Model.Sliders)
                                    {
                                        <button type="button" id="sliderDetails_@slider.Id" class="btn btn-default js-show-details-tab"
                                                data-url='@Url.Action("EditSlider","Slider", new { id = slider.Id } )'
                                                data-sliderId="@slider.Id"
                                                onClick='sliderDetails(this)'>
                                            @slider.Name
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin-t-5">
                            <div class="panel panel-default" style="min-height: 145px;">
                                <div class="panel-heading">
                                    @T("Admin.Catalog.Slider.Add")
                                </div>
                                <div class="panel-body">
                                    <form asp-controller="Slider" asp-action="CreateSlider" method="post" id="sliderAddForm">
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <nop-label asp-for="NewSlider.Name" />
                                            </div>
                                            <div class="col-sm-9">
                                                <nop-editor asp-required="true" asp-for="NewSlider.Name" />
                                                <span asp-validation-for="NewSlider.Name"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <nop-label asp-for="NewSlider.SliderTypeId" />
                                            </div>
                                            <div class="col-md-9">
                                                <nop-select asp-required="true" asp-for="NewSlider.SliderTypeId" asp-items="@(((SliderType)Model.NewSlider.SliderTypeId).ToSelectList())" />
                                                <span asp-validation-for="NewSlider.SliderTypeId"></span>
                                            </div>
                                        </div>
                                        <button class="btn bg-blue" type="button" onclick="AddNewSlider();"><i class="fa fa-plus-square"></i>@T("Admin.Catalog.Slider.AddNew")</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 margin-t-5">
                            <div id="slider_details"></div>
                            <input type="hidden" id="sliderId" />
                        </div>
                    </div>
                    <div class="row grid-builder-item" id="sliderItems" style="display: none;">
                        <div class="col-md-12 margin-t-5">
                            <div class="panel panel-default" style="min-height: 100px;">
                                <div class="panel-heading" id="sliderHdr">
                                    @T("Admin.Catalog.Items")
                                </div>
                                <div class="panel-body">
                                    <div id="sliderItemGrid"></div>
                                    <script>
                                        var reOrderIsProgress = false;

                                        var sliderItemGrid = $("#sliderItemGrid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("SliderItemList", "Slider"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: function () {
                                                            var data = {
                                                                SliderId: $('#sliderId').val()
                                                            };
                                                            addAntiForgeryToken(data);
                                                            return data;
                                                        }
                                                    },
                                                    update: {
                                                        url: "@Html.Raw(Url.Action("UpdateSliderItem", "Slider"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: addAntiForgeryToken
                                                    },
                                                    destroy: {
                                                        url: "@Html.Raw(Url.Action("DeleteSliderItem", "Slider"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: addAntiForgeryToken
                                                    },
                                                    parameterMap: function (data, operation) {
                                                        if (operation != "read") {
                                                            var parsedItemStartDateUtc = kendo.toString(data.ItemStartDateUtc, "G");
                                                            data.ItemStartDateUtc = parsedItemStartDateUtc;
                                                            var parsedItemStartEndUtc = kendo.toString(data.ItemEndDateUtc, "G");
                                                            data.ItemEndDateUtc = parsedItemStartEndUtc;
                                                            return data;
                                                        }

                                                        return data;
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors",
                                                    model: {
                                                        id: "Id",
                                                        fields: {
                                                            ItemName: { editable: true },
                                                            ItemCssClass: { editable: true, type: "string", validation: { required: true } },
                                                            ItemDisplayOrder: { editable: false, type: "number" },
                                                            Id: { editable: false, type: "number" },
                                                            ItemRowType: { editable: false },
                                                            ItemRowConnectionTypeName: { editable: false, type: "string" },
                                                            ItemColor: { editable: true, type: "string" },
                                                            ItemStartDateUtc: { editable: true, type: "date" },
                                                            ItemEndDateUtc: { editable: true, type: "date" },
                                                            ItemVisible: { type: "boolean" },
                                                            ItemRowConnectionId: {},
                                                            ItemRowConnectionId: {},
                                                            ItemRowConnectionType: {},
                                                            ItemAvailable: {},
                                                            ItemPicture: {},
                                                            ItemShowDescription: { editable: true }
                                                        }
                                                    }
                                                },
                                                requestEnd: function(e) {
                                                    if (e.type == "update") {
                                                        this.read();
                                                    }
                                                },
                                                error: function(e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(int.MaxValue),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: false,
                                                previousNext: false,
                                                numeric: false
                                            },
                                            //details grid
                                            detailInit: detailInit,
                                            dataBound: function () {
                                                var dataSource = this.dataSource;
                                                this.element.find('tr.k-master-row').each(function () {
                                                    var row = $(this);
                                                    var data = dataSource.getByUid(row.data('uid'));
                                                    if (data.ItemRowType === @((int)RowType.header)
                                                        || data.ItemRowType === @((int)RowType.title)) {
                                                        row.find('.k-hierarchy-cell a').css({ display: 'none', cursor: 'default' }).click(function (e) { e.stopImmediatePropagation(); return false; });
                                                    }
                                                });
                                            },
                                            editable: {
                                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                                mode: "inline"
                                            },
                                            scrollable: false,
                                            columns: [
                                                {
                                                    field: "ItemRowConnectionId",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Name")",
                                                    width: 250,
                                                    editor: connectionEditor,
                                                    template: "#=ItemName#"
                                                },
                                                {
                                                    field: "ItemRowConnectionTypeName",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.ItemRowConnectionType")",
                                                    width: 100
                                                },
                                                {
                                                    field: "ItemPicture",
                                                    title: "@T("Admin.Catalog.HomePageItem.Fields.Picture")",
                                                    template: '# if(ItemPicture.ItemPictureUrl != null) {#<img src="#=ItemPicture.ItemPictureUrl#" />#} #',
                                                    editor: pictureEditor,
                                                    width: 100
                                                },
                                                {
                                                    field: "ItemCssClass",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.CssClass")",
                                                    width: 100
                                                }, {
                                                    template: "# if(ItemColor != null) { # <div style='background-color: #:ItemColor#; height: 20px; width: 100%;'></div>#} #",
                                                    field: "ItemColor",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Color")",
                                                    width: 50,
                                                    editor: colorEditor
                                                }, {
                                                    field: "ItemStartDateUtc",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.StartDateUtc")",
                                                    type: "date",
                                                    format: "{0:G}",
                                                    width: 150,
                                                    editor: dateTimeEditor
                                                }, {
                                                    field: "ItemEndDateUtc",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.EndDateUtc")",
                                                    type: "date",
                                                    format: "{0:G}",
                                                    width: 150,
                                                    editor: dateTimeEditor
                                                }, {
                                                    field: "ItemShowDescription",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.ShowDescription")",
                                                    width: 50,
                                                    template: '# if(ItemShowDescription) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #}#',
                                                    editor: customBoolEditor
                                                }, {
                                                    field: "ItemVisible",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Visible")",
                                                    width: 50,
                                                    template: '# if(ItemAvailable) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                                    editor: customBoolEditor
                                                }, {
                                                    field: "Id",
                                                    title: "@T("Admin.Common.Edit")",
                                                    width: 90,
                                                    headerAttributes: { style: "text-align:left; border-right: none;" },
                                                    attributes: { style: "text-align:right; padding-right: 0; border-right: none;" },
                                                    template: '<a class="btn btn-default" onclick="GetConnectionEditLink(#=ItemRowConnectionId#, #=ItemRowConnectionType#)" href="javascript:void(0);"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                                }, {
                                                    command: [
                                                        {
                                                            name: "edit",
                                                            text: {
                                                                edit: "@T("Admin.Common.QuickEdit")",
                                                                update: "@T("Admin.Common.Update")",
                                                                cancel: "@T("Admin.Common.Cancel")"
                                                            }
                                                        },
                                                        {
                                                            name: "destroy",
                                                            text: "@T("Admin.Common.Delete")",
                                                        }
                                                    ],
                                                    attributes: { style: "text-align:left; padding-left: 0;" },
                                                    width: 200
                                                }
                                            ]
                                        }).data("kendoGrid");

                                        function GetConnectionEditLink(connectionId, connectionType) {
                                            let connectionUrl = '';
                                            switch (connectionType) {
                                                case @((int)RowConnectionType.category):
                                                    connectionUrl = "@Html.Raw(Url.Action("Edit", "Category"))" + '/' + connectionId;
                                                    break;
                                                case @((int)RowConnectionType.element):
                                                    connectionUrl = "@Html.Raw(Url.Action("Edit", "Element"))" + '/' + connectionId;
                                                    break;
                                                case @((int)RowConnectionType.product):
                                                    connectionUrl = "@Html.Raw(Url.Action("Edit", "Product"))" + '/' + connectionId;
                                                    break;
                                                case @((int)RowConnectionType.topic):
                                                    connectionUrl = "@Html.Raw(Url.Action("Edit", "Topic"))" + '/' + connectionId;
                                                    break;
                                                case @((int)RowConnectionType.slider):
                                                    connectionUrl = "@Html.Raw(Url.Action("Edit", "Slider"))";
                                                    break;
                                            }

                                            window.open(connectionUrl);
                                        }

                                        function customBoolEditor(container, options) {
                                            var guid = kendo.guid();
                                            $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="' + options.field + '" data-type="boolean" data-bind="checked:' + options.field + '">').appendTo(container);
                                            $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
                                        }

                                        function dateTimeEditor(container, options) {
                                            $('<input name="' + options.field + '"/>')
                                                .appendTo(container)
                                                .kendoDateTimePicker({
                                                    format: "G"
                                                });
                                        }

                                        function colorEditor(container, options) {
                                            $('<input name="' + options.field + '"/>')
                                                .appendTo(container)
                                                .kendoColorPicker({
                                                    buttons: false
                                                });
                                        }

                                        function connectionEditor(container, options) {
                                            if (options.model.ItemRowConnectionType == @((int)RowConnectionType.category)) {
                                                $('<input name="' + options.field + '" required="required"/>')
                                                    .appendTo(container)
                                                    .kendoComboBox({
                                                        autoBind: false,
                                                        filter: "contains",
                                                        dataTextField: "Text",
                                                        dataValueField: "Value",
                                                        dataSource: {
                                                            transport: {
                                                                type: "json",
                                                                read: {
                                                                    url: "@Html.Raw(Url.Action("GetAvailableCategories", "Category"))",
                                                                    type: "POST",
                                                                    dataType: "json",
                                                                    data: addAntiForgeryToken
                                                                }
                                                            }
                                                        },
                                                        change: function (e) {
                                                            var widget = e.sender;

                                                            if (widget.value() && widget.select() === -1) {
                                                                //custom has been selected
                                                                widget.value("");
                                                                var model = sliderItemGrid.editable.options.model;
                                                                model.set('ItemRowConnectionId', '');
                                                                //widget.select(0);
                                                            }
                                                        }
                                                    });
                                            } else if (options.model.ItemRowConnectionType == @((int)RowConnectionType.product)) {
                                                $('<input name="' + options.field + '" required="required"/>')
                                                    .appendTo(container)
                                                    .kendoComboBox({
                                                        autoBind: false,
                                                        filter: "contains",
                                                        dataTextField: "Text",
                                                        dataValueField: "Value",
                                                        dataSource: {
                                                            transport: {
                                                                type: "json",
                                                                read: {
                                                                    url: "@Html.Raw(Url.Action("GetAvailableProducts", "Product"))",
                                                                    type: "POST",
                                                                    dataType: "json",
                                                                    data: addAntiForgeryToken
                                                                }
                                                            }
                                                        },
                                                        change: function (e) {
                                                            var widget = e.sender;

                                                            if (widget.value() && widget.select() === -1) {
                                                                //custom has been selected
                                                                widget.value("");
                                                                var model = sliderItemGrid.editable.options.model;
                                                                model.set('ItemRowConnectionId', '');
                                                                //widget.select(0);
                                                            }
                                                        }
                                                    });
                                            } else if (options.model.ItemRowConnectionType == @((int)RowConnectionType.element)) {
                                                $('<input name="' + options.field + '" required="required"/>')
                                                    .appendTo(container)
                                                    .kendoComboBox({
                                                        autoBind: false,
                                                        filter: "contains",
                                                        dataTextField: "Text",
                                                        dataValueField: "Value",
                                                        dataSource: {
                                                            transport: {
                                                                type: "json",
                                                                read: {
                                                                    url: "@Html.Raw(Url.Action("GetAvailableElements", "Element"))",
                                                                    type: "POST",
                                                                    dataType: "json",
                                                                    data: addAntiForgeryToken
                                                                }
                                                            }
                                                        },
                                                        change: function (e) {
                                                            var widget = e.sender;

                                                            if (widget.value() && widget.select() === -1) {
                                                                //custom has been selected
                                                                widget.value("");
                                                                var model = sliderItemGrid.editable.options.model;
                                                                model.set('ItemRowConnectionId', '');
                                                                //widget.select(0);
                                                            }
                                                        }
                                                    });
                                            } else if (options.model.ItemRowConnectionType == @((int)RowConnectionType.topic)) {
                                                $('<input name="' + options.field + '" required="required"/>')
                                                    .appendTo(container)
                                                    .kendoComboBox({
                                                        autoBind: false,
                                                        filter: "contains",
                                                        dataTextField: "Text",
                                                        dataValueField: "Value",
                                                        dataSource: {
                                                            transport: {
                                                                type: "json",
                                                                read: {
                                                                    url: "@Html.Raw(Url.Action("GetAvailableTopics", "Topic"))",
                                                                    type: "POST",
                                                                    dataType: "json",
                                                                    data: addAntiForgeryToken
                                                                }
                                                            }
                                                        },
                                                        change: function (e) {
                                                            var widget = e.sender;

                                                            if (widget.value() && widget.select() === -1) {
                                                                //custom has been selected
                                                                widget.value("");
                                                                var model = sliderItemGrid.editable.options.model;
                                                                model.set('ItemRowConnectionId', '');
                                                                //widget.select(0);
                                                            }
                                                        }
                                                    });
                                            } else {
                                                var input = $('<input readonly type="text" class="k-input k-textbox" name="' + options.field + '" data-bind="value:' + options.field + '">');
                                                input.appendTo(container);
                                            }
                                        }

                                        function pictureEditor(container, options) {
                                            if (options.model.ItemRowConnectionType == @((int)RowConnectionType.category)
                                                    || options.model.ItemRowConnectionType == @((int)RowConnectionType.product)) {
                                                $('<input name="' + options.field + '"/>')
                                                .appendTo(container)
                                                .kendoDropDownList({
                                                    autoBind: false,
                                                    dataTextField: "ItemPictureOriginalName",
                                                    dataValueField: "ItemPictureId",
                                                    headerTemplate: '<div class="dropdown-header k-widget k-header">' +
                                                        '<span>Picture</span>' +
                                                        '<span>File name</span>' +
                                                        '</div>',
                                                    valueTemplate: '<span class="selected-value" #if (data.ItemPictureUrl != null) {# style="background-image: url(\'#:data.ItemPictureUrl#\')" #}#></span><span>#:data.ItemPictureOriginalName#</span>',
                                                    template: '<span class="k-state-default picture-span" style="background-image: url(\'#:data.ItemPictureUrl#\')"></span>' +
                                                        '<span class="k-state-default picture-span"><h3 class="picture-h3">#: data.ItemPictureOriginalName #</h3></span>',
                                                    dataSource: {
                                                        transport: {
                                                            type: "json",
                                                            read: {
                                                                url: "@Html.Raw(Url.Action("GetAvailablePicture", "Slider"))",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: function () {
                                                                    var data = {
                                                                        connectionId: options.model.ItemRowConnectionId,
                                                                        connectionType: options.model.ItemRowConnectionType
                                                                    };
                                                                    addAntiForgeryToken(data);
                                                                    return data;
                                                                }
                                                            }
                                                        }
                                                    }
                                                });
                                            }
                                        }

                                        sliderItemGrid.table.kendoSortable({
                                            filter: ">tbody >tr:not(.k-detail-row):not('.k-grid-edit-row')",
                                            hint: $.noop,
                                            cursor: "move",
                                            placeholder: function(element) {
                                                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                                            },
                                            container: "#sliderItemGrid tbody",
                                            start: function (e) {
                                                if (reOrderIsProgress) {
                                                    e.preventDefault();
                                                }
                                            },
                                            change: function (e) {
                                                reOrderIsProgress = true;
                                                var skip = sliderItemGrid.dataSource.skip(),
                                                    oldIndex = e.oldIndex + skip,
                                                    newIndex = e.newIndex + skip,
                                                    dataItem = sliderItemGrid.dataSource.getByUid(e.item.data("uid"));

                                                var postData = {
                                                    "OldDisplayOrder": oldIndex,
                                                    "NewDisplayOrder": newIndex,
                                                    "DragItemId": dataItem.Id
                                                };

                                                addAntiForgeryToken(postData);

                                                $.ajax({
                                                    cache: false,
                                                    type: "POST",
                                                    url: "@(Url.Action("ReOrderColumn", "Slider"))",
                                                    data: postData,
                                                    success: function (data) {
                                                        sliderItemGrid.dataSource.read();
                                                        reOrderIsProgress = false;
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        sliderItemGrid.dataSource.cancelChanges();
                                                        reOrderIsProgress = false;
                                                        alert('Failed to save order.');
                                                    }
                                                });
                                            }
                                        });

                                            //details grid
                                        function detailInit(e) {
                                            var el = $("<div/>").appendTo(e.detailCell).kendoGrid({
                                                dataSource: {
                                                    type: "json",
                                                    transport: {
                                                        read: {
                                                            url: "@Html.Raw(Url.Action("SliderItemRowList", "Slider"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: function() {
                                                                var data = {
                                                                    SliderItemId: e.data.Id
                                                                };
                                                                addAntiForgeryToken(data);
                                                                return data;
                                                            }
                                                        },
                                                        update: {
                                                            url: "@Html.Raw(Url.Action("UpdateSliderItem", "Slider"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: addAntiForgeryToken
                                                        },
                                                        destroy: {
                                                            url: "@Html.Raw(Url.Action("DeleteSliderItem", "Slider"))",
                                                            type: "POST",
                                                            dataType: "json",
                                                            data: addAntiForgeryToken
                                                        },
                                                        parameterMap: function (data, operation) {
                                                            if (operation != "read") {
                                                                var parsedItemStartDateUtc = kendo.toString(data.ItemStartDateUtc, "G");
                                                                data.ItemStartDateUtc = parsedItemStartDateUtc;
                                                                var parsedItemStartEndUtc = kendo.toString(data.ItemEndDateUtc, "G");
                                                                data.ItemEndDateUtc = parsedItemStartEndUtc;
                                                                return data;
                                                            }

                                                            return data;
                                                        }
                                                    },
                                                    requestEnd: function(e) {
                                                        if (e.type == "destroy" ||
                                                            e.type == "update") {
                                                            this.read();
                                                        }
                                                    },
                                                    schema: {
                                                        data: "Data",
                                                        total: "Total",
                                                        errors: "Errors",
                                                        model: {
                                                            id: "Id",
                                                            fields: {
                                                                ItemName: { editable: false },
                                                                ItemCssClass: { editable: true, type: "string", validation: { required: true } },
                                                                ItemDisplayOrder: { editable: false, type: "number" },
                                                                Id: { editable: false, type: "number" },
                                                                ItemRowType: { editable: false },
                                                                ItemRowConnectionTypeName: { editable: false, type: "string" },
                                                                ItemColor: { editable: true, type: "string" },
                                                                ItemStartDateUtc: { editable: true, type: "date" },
                                                                ItemEndDateUtc: { editable: true, type: "date" },
                                                                ItemVisible: { type: "boolean" },
                                                                ItemRowConnectionId: {},
                                                                ItemRowConnectionType: {},
                                                                ItemAvailable: {},
                                                                ItemPicture: {},
                                                                ItemShowDescription: { editable: true },
                                                            }
                                                        }
                                                    },
                                                    error: function(e) {
                                                        display_kendoui_grid_error(e);
                                                        // Cancel the changes
                                                        this.cancelChanges();
                                                    },
                                                    pageSize: @(int.MaxValue),
                                                    serverPaging: true,
                                                    serverFiltering: true,
                                                    serverSorting: true
                                                },
                                                editable: {
                                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                                    mode: "inline"
                                                },
                                                scrollable: false,
                                                pageable: {
                                                    refresh: true,
                                                    pageSizes: false,
                                                    previousNext: false,
                                                    numeric: false
                                                },
                                                columns: [
                                                {
                                                    field: "ItemRowConnectionId",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Name")",
                                                    width: 250,
                                                    editor: connectionEditor,
                                                    template: "#=ItemName#"
                                                },
                                                {
                                                    field: "ItemRowConnectionTypeName",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.ItemRowConnectionType")",
                                                    width: 100
                                                },
                                                {
                                                    field: "ItemPicture",
                                                    title: "@T("Admin.Catalog.HomePageItem.Fields.Picture")",
                                                    template: '# if(ItemPicture.ItemPictureUrl != null) {#<img src="#=ItemPicture.ItemPictureUrl#" />#} #',
                                                    editor: pictureEditor,
                                                    width: 100
                                                },
                                                {
                                                    field: "ItemCssClass",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.CssClass")",
                                                    width: 100
                                                }, {
                                                    template: "# if(ItemColor != null) { # <div style='background-color: #:ItemColor#; height: 20px; width: 100%;'></div>#} #",
                                                    field: "ItemColor",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Color")",
                                                    width: 50,
                                                    editor: colorEditor
                                                }, {
                                                    field: "ItemStartDateUtc",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.StartDateUtc")",
                                                    type: "date",
                                                    format: "{0:G}",
                                                    width: 150,
                                                    editor: dateTimeEditor
                                                }, {
                                                    field: "ItemEndDateUtc",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.EndDateUtc")",
                                                    type: "date",
                                                    format: "{0:G}",
                                                    width: 150,
                                                    editor: dateTimeEditor
                                                }, {
                                                    field: "ItemShowDescription",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.ShowDescription")",
                                                    width: 50,
                                                    template: '# if(ItemShowDescription) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #}#',
                                                    editor: customBoolEditor
                                                }, {
                                                    field: "ItemVisible",
                                                    title: "@T("Admin.Catalog.SliderItem.Fields.Visible")",
                                                    width: 50,
                                                    template: '# if(ItemAvailable) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                                    editor: customBoolEditor
                                                }, {
                                                    field: "Id",
                                                    title: "@T("Admin.Common.Edit")",
                                                    width: 90,
                                                    headerAttributes: { style: "text-align:left; border-right: none;" },
                                                    attributes: { style: "text-align:right; padding-right: 0; border-right: none;" },
                                                    template: '<a class="btn btn-default" onclick="GetConnectionEditLink(#=ItemRowConnectionId#, #=ItemRowConnectionType#)" href="javascript:void(0);"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                                }, {
                                                    command: [
                                                        {
                                                            name: "edit",
                                                            text: {
                                                                edit: "@T("Admin.Common.QuickEdit")",
                                                                update: "@T("Admin.Common.Update")",
                                                                cancel: "@T("Admin.Common.Cancel")"
                                                            }
                                                        },
                                                        {
                                                            name: "destroy",
                                                            text: "@T("Admin.Common.Delete")",
                                                        }
                                                    ],
                                                    attributes: { style: "text-align:left; padding-left: 0;" },
                                                    width: 200
                                                }
                                                ]
                                            });

                                            el.data("kendoGrid").table.kendoSortable({
                                                filter: ">tbody >tr:not(.k-detail-row):not('.k-grid-edit-row')",
                                                hint: $.noop,
                                                cursor: "move",
                                                placeholder: function(element) {
                                                    return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                                                },
                                                start: function (e) {
                                                    if (reOrderIsProgress) {
                                                        e.preventDefault();
                                                    }
                                                },
                                                change: function (e) {
                                                    reOrderIsProgress = true;
                                                    var skip = el.data("kendoGrid").dataSource.skip(),
                                                        oldIndex = e.oldIndex + skip,
                                                        newIndex = e.newIndex + skip,
                                                        dataItem = el.data("kendoGrid").dataSource.getByUid(e.item.data("uid"));

                                                    var postData = {
                                                        "OldDisplayOrder": oldIndex,
                                                        "NewDisplayOrder": newIndex,
                                                        "DragItemId": dataItem.Id
                                                    };

                                                    addAntiForgeryToken(postData);

                                                    $.ajax({
                                                        cache: false,
                                                        type: "POST",
                                                        url: "@(Url.Action("ReOrderRow", "Slider"))",
                                                        data: postData,
                                                        success: function (data) {
                                                            el.data("kendoGrid").dataSource.read();
                                                            reOrderIsProgress = false;
                                                        },
                                                        error: function (xhr, ajaxOptions, thrownError) {
                                                            el.data("kendoGrid").dataSource.cancelChanges();
                                                            reOrderIsProgress = false;
                                                            alert('Failed to save order.');
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    </script>
                                    <style>
                                        .k-grid tbody tr:not(.k-detail-row):not(.k-grid-edit-row) td {
                                            cursor: grab;
                                        }
                                    </style>
                                    <input type="submit" id="btnRefreshItems" style="display: none" />
                                    <script>
                                        $(document).ready(function () {
                                            $('#btnRefreshItems').click(function () {
                                                //refresh grid
                                                var grid = $("#sliderItemGrid").data('kendoGrid');
                                                grid.dataSource.read();

                                                //return false to don't reload a page
                                                return false;
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddNewSlider() {
        var form = $('#sliderAddForm');

        if (form.valid()) {
            $.ajax({
            cache: false,
            url: "@(Url.Action("CreateSlider", "Slider"))",
            data: form.serialize(),
            type: 'post',
            success: function (response) {
                if (response.success) {
                    $('#slider_list').prepend("<button type='button' onClick='sliderDetails(this)' id='sliderDetails_" + response.id + "' class='btn btn-default js-show-details-slider' data-url='" + response.url + "' data-sliderId='" + response.id + "'>" + response.name + "</button>");
                    $('#sliderDetails_' + response.id).click();
                    form[0].reset();
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Failed to add the slider. Please refresh the page and try one more time.');
            }
        });

        }
    }

    function DeleteSlider(id) {
        var postData = {
            id: id
        };
        addAntiForgeryToken(postData);

        if (confirm("Are you sure?")) {
            $.ajax({
                cache: false,
                url: "@(Url.Action("DeleteSlider", "Slider"))",
                data: postData,
                type: 'post',
                success: function (response) {
                    if (response.success) {
                        $("#sliderDetails_" + id).remove();
                        $('#slider_details').html("");
                        $('#sliderId').val("");
                        $('#sliderItems').hide();
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Failed to delete the slider. Please refresh the page and try one more time.');
                }
            });
        }
    }

    function AddColumn(sliderId, type) {
        var url = "@Url.Action("AddColumn", "Slider")";

        $.get(url,
            {
                id: sliderId,
                rowType: type
            },
            function (data) {
                $('#addColumnBox').html(data);
                $('#itemButtons').hide();
        });
    }

    $(function () {
        $("#slider_list").children(":first-child()").click();
    });

</script>